@using SFA.DAS.ApprenticeApp.Application

<details class="govuk-details app-details" id="filterKSBs">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show filters
    </span>
    </summary>
    <div class="govuk-!-margin-top-4">
        <div class="app-card app-card--highlight">
            <div class="app-card__heading">
                <h2 class="govuk-heading-m">Filters</h2>
            </div>
            <div id="filters-set" class="app-tag__wrapper"></div>
            <div class="app-card__body">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Status filters
                            </legend>
                            <div
                                    class="govuk-checkboxes govuk-checkboxes--small"
                                    data-module="govuk-checkboxes"
                            >
                                <div class="govuk-checkboxes__item">
                                    <input
                                            class="govuk-checkboxes__input"
                                            id="not-started"
                                            name="filter"
                                            type="checkbox"
                                            value="not-started"
                                    />
                                    <label class="govuk-label govuk-checkboxes__label" for="not-started">
              <span
              >Not started</span
              >
                                    </label>
                                </div>
                                
                                <div class="govuk-checkboxes__item">
                                    <input
                                            class="govuk-checkboxes__input"
                                            id="in-progress"
                                            name="filter"
                                            type="checkbox"
                                            value="in-progress"
                                    />
                                    <label class="govuk-label govuk-checkboxes__label" for="in-progress">
              <span
              >In progress</span
              >
                                    </label>
                                </div>
                                
                                <div class="govuk-checkboxes__item">
                                    <input
                                            class="govuk-checkboxes__input"
                                            id="ready-for-review"
                                            name="filter"
                                            type="checkbox"
                                            value="ready-for-review"
                                    />
                                    <label
                                            class="govuk-label govuk-checkboxes__label"
                                            for="ready-for-review"
                                    >
              <span
              >Ready for review</span
              >
                                    </label>
                                </div>
                                
                                <div class="govuk-checkboxes__item">
                                    <input
                                            class="govuk-checkboxes__input"
                                            id="done"
                                            name="filter"
                                            type="checkbox"
                                            value="done"
                                    />
                                    <label class="govuk-label govuk-checkboxes__label" for="done">
                                        <span>Done</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Other filters
                            </legend>
                            <div
                                    class="govuk-checkboxes govuk-checkboxes--small"
                                    data-module="govuk-checkboxes"
                            >
                                <div class="govuk-checkboxes__item">
                                    <input
                                            class="govuk-checkboxes__input"
                                            id="linked-to-a-task"
                                            name="other-filter"
                                            type="checkbox"
                                            value="linked-to-a-task"
                                    />
                                    <label
                                            class="govuk-label govuk-checkboxes__label"
                                            for="linked-to-a-task"
                                    >
                                        Linked to a task
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <a href="#" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-3 apply">Apply filters</a>
            </div>
        </div>
    </div>
</details>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var cookieFilter = getCookieKsb("@Constants.KsbFiltersCookieName");
    var filtersSet = document.getElementById('filters-set');

    if (cookieFilter != null && cookieFilter != "") {
      document.getElementById('filterKSBs').open = true;

      var filters = getCookieKsb("@Constants.KsbFiltersCookieName");

      var data = filters.split("&");

      for (var k in data) {
        var line = data[k].split("=");

        var checkbox = document.getElementById(line[1]);
        if (checkbox) checkbox.checked = true;

        var tag = document.createElement('div');
        tag.className = 'app-tag app-tag--filter';
        tag.innerHTML =
          "<span>" +
          line[1].replace(/\-/g, " ") +
          "</span> <a class='app-tag__action app-tag__action--remove remove-filter' data-id='" +
          line[1] +
          "'><span class='govuk-visually-hidden'>Remove " +
          line[1].replace(/\-/g, " ") +
          " from your filters</span></a> ";
        filtersSet.appendChild(tag);
      }
    } else {
      if (filtersSet) filtersSet.style.display = 'none';
    }

    if (filtersSet) {
      filtersSet.addEventListener('click', function (e) {
        var target = e.target.closest('.remove-filter');
        if (!target) return;
        e.preventDefault();

        //Untick the checkbox in the hidden popup
        var filterNames = target.dataset.id;
        var checkbox = document.getElementById(filterNames);
        if (checkbox) checkbox.checked = false;

        applyAndSaveFiltersKsb();
      });
    }

    var applyBtn = document.querySelector('#filterKSBs .apply');
    if (applyBtn) {
      applyBtn.addEventListener('click', applyAndSaveFiltersKsb);
    }
  });

  function applyAndSaveFiltersKsb() {
    var checkboxes = document.querySelectorAll('#filterKSBs input[type=checkbox]:checked');
    var serialized = Array.from(checkboxes)
      .map(function (cb) { return encodeURIComponent(cb.name) + '=' + encodeURIComponent(cb.value); })
      .join('&');

    setCookieKsb(
      "SFA.ApprenticeApp.KsbFilters",
      serialized,
      { secure: true, "max-age": 3600 },
    );
    location.reload();
  }

  function getCookieKsb(name) {
    let matchess = document.cookie.match(
      new RegExp(
        "(?:^|; )" +
          name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
          "=([^;]*)",
      ),
    );
    return matchess ? decodeURIComponent(matchess[1]) : undefined;
  }

  function setCookieKsb(name, value, attributes = {}) {
    attributes = {
      path: "/",
    };

    if (attributes.expires instanceof Date) {
      attributes.expires = attributes.expires.toUTCString();
    }

    let updatedCookies =
      encodeURIComponent(name) + "=" + encodeURIComponent(value);

    for (let attributeKeys in attributes) {
      updatedCookies += "; " + attributeKeys;
      let attributeValues = attributes[attributeKeys];
      if (attributeValues !== true) {
        updatedCookies += "=" + attributeValues;
      }
    }

    document.cookie = updatedCookies;
  }
</script>
