<details class="govuk-details app-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with KSBs
    </span>
    </summary>
    <div class="govuk-details__text">
        <p>KSBs are the 3 things you'll develop during an apprenticeship:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>knowledge is what you learn about the job</li>
            <li>skills are what you actually do</li>
            <li>behaviours are you act at work, like being on time and working well with others</li>
        </ul>
        <p>For your apprenticeship assessment, you'll need to prove that you've gained these KSBs with real examples of how you've applied them to your job. </p>
        <p>You can add notes to individual KSBs, or link KSBs when you're adding or editing a task.</p>
    </div>
</details>