<p class="govuk-body">
  Your details are linked to an old version of your apprenticeship.
  Unfortunately, we are not able to show your latest KSBs until your course
  version is updated.
</p>
<h2 class="govuk-heading-m">How to update your course version</h2>
<p class="govuk-body">
  Please speak to your training provider and request that they update your
  details to the latest version of this apprenticeship (also known as a
  'standard').
</p>

<h2 class="govuk-heading-m">Can I still use the app?</h2>
<p class="govuk-body">Yes. You can still use the app to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>add and edit tasks</li>
  <li>set reminders</li>
  <li>view reminder notifications</li>
  <li>view your apprenticeship details</li>
  <li>access resources for support and guidance</li>
</ul>

<p class="govuk-body">
  If you need more help, you can call
  <a href="tel:08000150600">08000 150 600</a> or email
  <a
    href="mailto:helpdesk@manage-apprenticeships.service.gov.uk"
    class="govuk-link"
    >helpdesk@manage-apprenticeships.service.gov.uk</a
  >. Our opening times are Monday to Friday, 9am to 5pm. We will reply to emails
  within 4 hours during our opening times.
</p>

<p class="govuk-body">
  You can also visit
  <a
    href="https://www.apprenticeships.gov.uk"
    class="govuk-link govuk-link--no-visited-state"
    target="_blank"
    >apprenticeships.gov.uk</a
  >
  for guidance about your apprenticeship.
</p>
