@{ ViewData["Title"] = "Your knowledge, skills and behaviours (KSBs)";
ViewData["Section"] = "Ksbs"; Layout = "_Layout"; }
<h1 class="govuk-heading-xl">Knowledge, skills and behaviours (KSBs)</h1>
<details class="govuk-details app-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with KSBs
    </span>
    </summary>
    <div class="govuk-details__text">
        <p>KSBs are the 3 things you'll develop during an apprenticeship:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>knowledge is what you learn about the job</li>
            <li>skills are what you actually do</li>
            <li>behaviours are you act at work, like being on time and working well with others</li>
        </ul>
        <p>For your apprenticeship assessment, you'll need to prove that you've gained these KSBs with real examples of how you've applied them to your job. </p>
        <p>You can add notes to individual KSBs, or link KSBs when you're adding or editing a task.</p>
    </div>
</details>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-tabs" data-module="app-tabs">
      <ul class="app-tabs__list">
        <li class="app-tabs__list-item">
          <a class="app-tabs__tab tab-knowledge" href="#knowledge">
            Knowledge (@Model.KnowledgeCount.ToString())
          </a>
        </li>
        <li class="app-tabs__list-item">
          <a class="app-tabs__tab tab-skills" href="#skill">
            Skills (@Model.SkillCount.ToString())
          </a>
        </li>
        <li class="app-tabs__list-item">
          <a class="app-tabs__tab tab-behaviours" href="#behaviour">
            Behaviours (@Model.BehaviourCount.ToString())
          </a>
        </li>
      </ul>
      <partial name="_KsbsAll.cshtml" />
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <partial name="_YourKSBs.cshtml" />
    <partial name="_YourApprenticeship.cshtml" />
  </div>
</div>
