@{
    ViewData["Title"] = "Page not found";
    Layout = "_LayoutBasic";
}

<div class="app-main">
    <div class="app-main__inner">
        <div class="app-page-header govuk-!-margin-bottom-8">
            <div class="app-page-header__back">
                <a asp-action="Index" asp-controller="Home" class="app-back-link">Close</a>
            </div>
            <h1 class="app-page-header__heading">Page not found</h1>
            <div class="app-page-header__forward"></div>
        </div>

        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
            If you need help, you can call <a href="tel:08000150600">08000 150 600</a> or email <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>. Our opening times are 9am to 5pm, Monday to Friday. During our opening times, we will reply to emails within 4 hours.
        </p>        
        
    </div>
</div>