.app-card {
  background: #fff;
  border-radius: $app-border-radius-inputs;
  padding: $app-gap;
  margin-bottom: $app-gap;
  border: 1px solid #949494;
}

.app-card--follow-on {
  padding-top: 1.5rem;
  border-top: none;
  margin-top: -10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.app-card__heading {
  @extend .govuk-heading-s;
}

.app-card__link {
  color: $app-brand-colour;
}

.app-card__header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.app-card--highlight {
  background-color: $app-card-highlight;
}

.app-card__footer {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
