<!DOCTYPE html>
<html lang="en" class="govuk-template example-page">
  <head>
    <meta charset="utf-8" />
    <title>Card – Example</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />

    <link href="../../../wwwroot/css/app.css" rel="stylesheet" media="all" />
    <link href="../example.css" rel="stylesheet" media="all" />

    <meta
      property="og:image"
      content="https://design-system.service.gov.uk/assets/images/govuk-opengraph-image.png" />
  </head>
  <body class="app-template__body example-page">
    <script>
      document.body.className +=
        " js-enabled" +
        ("noModule" in HTMLScriptElement.prototype
          ? " govuk-frontend-supported"
          : "");
    </script>
    <div class="example">
      <!-- ##### START EXAMPLE #### -->
      <div class="app-card">
        <h2 class="app-card__heading">Write up tutor notes</h2>
        <p>
          Nam eget ex tempus, dapibus nisl et, finibus enim. Aenean auctor
          ultricies nibh in laoreet. Nullam dapibus laoreet purus at aliquet.
          <a href="#" class="govuk-link">Test</a>
        </p>
      </div>
      <div class="app-card">
        <h2 class="app-card__heading">Submit assessment for first module</h2>
      </div>
      <!-- ##### END EXAMPLE #### -->
    </div>
  </body>
</html>
