<h2 class="govuk-heading-m">You have no notifications.</h2>
<p>You’ll see notifications:</p>
<ul>
    <li>when you’ve set task reminders</li>
    <li>if we need to tell you something about the Your Apprenticeship service</li>
</ul>
<p>Notifications will always appear in the app. You can also choose to receive notifications on your device, which you can turn on or off in account settings.</p>
