.app-collapse {
  background: #eee;
}

.app-collapse__header {
  background: #ddd;
}

.app-collapse__button {
  background: none;
  border: none;
  cursor: pointer;
}

.app-collapse__contents {
  display: none;
}
