.app-collapse__header {
  margin: -1rem;

  .app-collapse--expanded & {
    border-bottom: 1px solid #ddd;
  }
}

.app-collapse__title {
  min-height: 1rem;
}

.app-collapse__button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $govuk-text-colour;
  @include govuk-font(19);

  &:focus {
    @include app-focused;
  }
}

.app-collapse__icon {
  @include app-arrow;
  display: block;
  position: relative;
  top: -3px;
  right: 7px;
  transform: rotate(-45deg);
  width: 11px;
  height: 11px;

  .app-collapse--expanded & {
    transform: rotate(135deg);
    top: 2px;
  }
}

.app-collapse__contents {
  display: none;

  .app-collapse--expanded & {
    display: block;
    padding: 1.5rem 0 0;
    margin-bottom: -0.5rem;
  }
}
