.app-form-group {
  margin-bottom: $app-gap;
}

.form-error {
  color: #d4351c;
}

.app-form-group--flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: $app-gap;
}