* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include govuk-media-query(tablet) {
    font-size: 19px;
  }
}

.app-template__body {
  background-color: $app-bg-colour;
}

.app-sticky {
  position: sticky;
  top: -1rem;
  background-color: $app-bg-colour;
}
