* {
  box-sizing: border-box;
  font: -apple-system-body;
  font-family: $govuk-font-family;
}

.app-font-size--regular {
  font-size: 16px;
}

_:not(a,b), .app-font-size--regular {
  font-size: 17px;
}

.app-font-size--medium {
  font-size: 19px;
}

.app-font-size--large {
  font-size: 24px;
}

.app-font-size--largest {
  font-size: 27px;
}

.app-font-size--xl {
  font-size: 32px;
}

span,
div,
p,
li,
text,
input {
  font-family: $govuk-font-family;
  font-size: 1rem;
}

.app-template__body {
  background-color: $app-bg-colour;
}

.govuk-details__summary-text {
  font-family: $govuk-font-family;
  font-size: 1rem;
}
