@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.SupportCategoryPageModel

<h1 class="govuk-heading-xl">Support and guidance</h1>

<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                <a asp-controller="Support" asp-action="SavedArticles" class="app-list-links__link">
                    <span class="icon--inline-wrap">
                        <img src="/assets/images/icons/pinned.svg" style="width: 20px; height: 20px" /> Your saved articles
                    </span>
                </a>
            </span>
        </h2>
    </div>
</div>

@foreach (var item in Model.Categories.OrderBy(x => x.Heading))
{
    @if (item.Slug != null)
    {
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        <a asp-controller="Support" asp-action="ArticlesPage" asp-route-slug="@item.Slug" class="app-list-links__link">
                            @item.Heading
                        </a>
                    </span>
                </h2>
            </div>
        </div>
    }
}
