<h1 class="govuk-heading-xl">Support and guidance</h1>

<ul class="app-list-links">
    <li class="app-list-links__list-item"> <a asp-controller="Support" asp-action="SecondLevelPage"
            class="app-list-links__link">
            Your Rights</a>
    </li>
    <li class="app-list-links__list-item"> <a asp-controller="Support" asp-action="SecondLevelPage"
            class="app-list-links__link"> Support for
            Learning Disability</a></li>
</ul>