

<button class="accordion">Pay</button>
<div class="panel">
    @{
        Html.RenderPartial("_DetailsPage");
    }
</div>

<button class="accordion">Hours</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

<button class="accordion">Rights</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

