<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no; viewport-fit=cover" />
    <meta name="theme-color" content="#0b0c0c" />
    <title>@(ViewData["Title"] == null ? "Apprentice App" : ViewData["Title"])</title>
    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>

<body class="govuk-template__body">
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <div class="app-container">
        <header class="app-header">
            <img src="/assets/images/apprentice-app-logo.svg" alt="Apprentice App Logo" class="app-header__logo" />
        </header>
        <main class="app-main">
            @RenderBody()
        </main>
        <footer class="app-footer">
            <nav class="app-nav">
                <a asp-controller="Profile" asp-action="Index" class="app-nav__link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.16"
                            d="M15.5 15.5H8.49998C7.49512 15.5001 6.51711 15.8244 5.71126 16.4247C4.90541 17.025 4.31473 17.8692 4.02698 18.832C5.01166 19.9836 6.23441 20.9078 7.61089 21.5411C8.98736 22.1744 10.4848 22.5015 12 22.5C13.5151 22.5015 15.0126 22.1744 16.3891 21.5411C17.7655 20.9078 18.9883 19.9836 19.973 18.832C19.6852 17.8692 19.0945 17.025 18.2887 16.4247C17.4828 15.8244 16.5048 15.5001 15.5 15.5Z"
                            fill="#00703C" />
                        <path
                            d="M22.5 12C22.5035 14.0846 21.8835 16.1225 20.7197 17.852C19.7599 19.2835 18.4623 20.4564 16.9414 21.267C15.4206 22.0777 13.7234 22.5012 12 22.5C10.2766 22.5012 8.57943 22.0777 7.05859 21.267C5.53775 20.4564 4.24009 19.2835 3.28033 17.852C2.36652 16.4898 1.78455 14.9325 1.58109 13.3049C1.37763 11.6772 1.55833 10.0246 2.10871 8.47934C2.65908 6.93412 3.56383 5.53935 4.75041 4.40682C5.937 3.27429 7.37241 2.43552 8.94159 1.95774C10.5108 1.47995 12.1701 1.37645 13.7865 1.65553C15.4028 1.93461 16.9314 2.5885 18.2495 3.5648C19.5676 4.54109 20.6387 5.81262 21.3768 7.27746C22.1149 8.7423 22.4996 10.3597 22.5 12Z"
                            stroke="#00703C" stroke-width="2" />
                        <path
                            d="M13.1666 8.5C13.1666 8.80942 13.0437 9.10617 12.8249 9.32496C12.6061 9.54375 12.3094 9.66667 12 9.66667V12C12.9282 12 13.8185 11.6313 14.4748 10.9749C15.1312 10.3185 15.5 9.42826 15.5 8.5H13.1666ZM12 9.66667C11.6905 9.66667 11.3938 9.54375 11.175 9.32496C10.9562 9.10617 10.8333 8.80942 10.8333 8.5H8.49996C8.49996 9.42826 8.86871 10.3185 9.52509 10.9749C10.1815 11.6313 11.0717 12 12 12V9.66667ZM10.8333 8.5C10.8333 8.19058 10.9562 7.89383 11.175 7.67504C11.3938 7.45625 11.6905 7.33333 12 7.33333V5C11.0717 5 10.1815 5.36875 9.52509 6.02513C8.86871 6.6815 8.49996 7.57174 8.49996 8.5H10.8333ZM12 7.33333C12.3094 7.33333 12.6061 7.45625 12.8249 7.67504C13.0437 7.89383 13.1666 8.19058 13.1666 8.5H15.5C15.5 7.57174 15.1312 6.6815 14.4748 6.02513C13.8185 5.36875 12.9282 5 12 5V7.33333ZM4.02696 18.832L2.90813 18.4995L2.72729 19.1097L3.14146 19.5915L4.02696 18.832ZM19.973 18.832L20.8596 19.5915L21.2726 19.1097L21.0918 18.4995L19.973 18.832ZM8.49996 16.6667H15.5V14.3333H8.49996V16.6667ZM8.49996 14.3333C7.24362 14.3333 6.02081 14.7388 5.01335 15.4894C4.00588 16.24 3.26755 17.2957 2.90813 18.4995L5.14463 19.1645C5.36076 18.4426 5.80397 17.8096 6.40844 17.3596C7.01291 16.9097 7.74639 16.6666 8.49996 16.6667V14.3333ZM12 21.3333C10.653 21.3349 9.32181 21.0441 8.09817 20.4811C6.87454 19.9181 5.78763 19.0964 4.91246 18.0725L3.14146 19.5915C4.23566 20.8708 5.59424 21.8975 7.12357 22.6011C8.65289 23.3046 10.3166 23.6682 12 23.6667V21.3333ZM15.5 16.6667C17.0831 16.6667 18.4236 17.719 18.8553 19.1657L21.0918 18.4995C20.7324 17.2959 19.9931 16.2403 18.9859 15.4897C17.9786 14.7391 16.7561 14.3336 15.5 14.3333V16.6667ZM19.0875 18.0725C18.2123 19.0964 17.1254 19.9181 15.9018 20.4811C14.6781 21.0441 13.3469 21.3349 12 21.3333V23.6667C13.6833 23.6682 15.347 23.3046 16.8764 22.6011C18.4057 21.8975 19.7654 20.8708 20.8596 19.5915L19.0875 18.0725Z"
                            fill="#00703C" />
                    </svg>

                    <span class="govuk-visually-hidden">Profile</span>
                </a>
                <a href="link1" class="app-nav__link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.9079 13.7178C19.2289 13.7178 19.5368 13.8454 19.7639 14.0724C19.9909 14.2994 20.1184 14.6073 20.1184 14.9284V17.3494H22.5395C22.8605 17.3494 23.1684 17.4769 23.3954 17.704C23.6225 17.931 23.75 18.2389 23.75 18.5599C23.75 18.881 23.6225 19.1889 23.3954 19.4159C23.1684 19.6429 22.8605 19.7705 22.5395 19.7705H20.1184V22.1915C20.1184 22.5126 19.9909 22.8205 19.7639 23.0475C19.5368 23.2745 19.2289 23.402 18.9079 23.402C18.5868 23.402 18.2789 23.2745 18.0519 23.0475C17.8249 22.8205 17.6974 22.5126 17.6974 22.1915V19.7705H15.2763C14.9553 19.7705 14.6474 19.6429 14.4203 19.4159C14.1933 19.1889 14.0658 18.881 14.0658 18.5599C14.0658 18.2389 14.1933 17.931 14.4203 17.704C14.6474 17.4769 14.9553 17.3494 15.2763 17.3494H17.6974V14.9284C17.6974 14.6073 17.8249 14.2994 18.0519 14.0724C18.2789 13.8454 18.5868 13.7178 18.9079 13.7178ZM16.4868 0.402039C16.8079 0.402039 17.1158 0.529576 17.3428 0.756593C17.5698 0.983611 17.6974 1.29151 17.6974 1.61257V2.82309H20.1184C20.7605 2.82309 21.3763 3.07817 21.8304 3.5322C22.2844 3.98624 22.5395 4.60204 22.5395 5.24414V10.0863C22.5395 10.4073 22.4119 10.7152 22.1849 10.9422C21.9579 11.1692 21.65 11.2968 21.3289 11.2968H3.17105V19.7705H10.4342C10.7553 19.7705 11.0632 19.898 11.2902 20.125C11.5172 20.352 11.6447 20.6599 11.6447 20.981C11.6447 21.302 11.5172 21.6099 11.2902 21.837C11.0632 22.064 10.7553 22.1915 10.4342 22.1915H3.17105C2.52895 22.1915 1.91315 21.9364 1.45911 21.4824C1.00507 21.0284 0.75 20.4126 0.75 19.7705V5.24414C0.75 4.60204 1.00507 3.98624 1.45911 3.5322C1.91315 3.07817 2.52895 2.82309 3.17105 2.82309H5.59211V1.61257C5.59211 1.29151 5.71964 0.983611 5.94666 0.756593C6.17368 0.529576 6.48158 0.402039 6.80263 0.402039C7.12368 0.402039 7.43159 0.529576 7.6586 0.756593C7.88562 0.983611 8.01316 1.29151 8.01316 1.61257V2.82309H15.2763V1.61257C15.2763 1.29151 15.4039 0.983611 15.6309 0.756593C15.8579 0.529576 16.1658 0.402039 16.4868 0.402039ZM20.1184 5.24414H3.17105V8.87572H20.1184V5.24414Z"
                            fill="#00703C" />
                    </svg>
                    <span class="govuk-visually-hidden">Saved items
                    </span>
                </a>
                <a asp-controller="Support" asp-action="Index"
                    class="app-nav__link @(ViewBag.Section == "Support" ? "app-nav__link--active" :"")">
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.4167 24.5558V20.6558C4.98925 20.3741 0.666748 15.8675 0.666748 10.375C0.666748 4.69831 5.28175 0.083313 10.9584 0.083313C16.6351 0.083313 21.2501 4.69831 21.2501 10.375C21.2501 15.7375 17.5234 21.1325 11.9659 23.8083L10.4167 24.5558ZM10.9584 2.24998C6.47341 2.24998 2.83341 5.88998 2.83341 10.375C2.83341 14.86 6.47341 18.5 10.9584 18.5H12.5834V20.9916C16.5267 18.5 19.0834 14.405 19.0834 10.375C19.0834 5.88998 15.4434 2.24998 10.9584 2.24998ZM9.87508 14.7083H12.0417V16.875H9.87508V14.7083ZM12.0417 13.0833H9.87508C9.87508 9.56248 13.1251 9.83331 13.1251 7.66665C13.1251 6.47498 12.1501 5.49998 10.9584 5.49998C9.76675 5.49998 8.79175 6.47498 8.79175 7.66665H6.62508C6.62508 5.27248 8.56425 3.33331 10.9584 3.33331C13.3526 3.33331 15.2917 5.27248 15.2917 7.66665C15.2917 10.375 12.0417 10.6458 12.0417 13.0833Z"
                            fill="#00703C" />
                    </svg>
                    <span class="govuk-visually-hidden">Support and guidance</span>
                </a>
                <a href="link1" class="app-nav__link">
                    <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.5 22.125H13C13 23.3625 11.9875 24.375 10.75 24.375C9.5125 24.375 8.5 23.3625 8.5 22.125ZM20.875 19.875V21H0.625V19.875L2.875 17.625V10.875C2.875 7.3875 5.125 4.35 8.5 3.3375V3C8.5 1.7625 9.5125 0.75 10.75 0.75C11.9875 0.75 13 1.7625 13 3V3.3375C16.375 4.35 18.625 7.3875 18.625 10.875V17.625L20.875 19.875ZM16.375 10.875C16.375 7.725 13.9 5.25 10.75 5.25C7.6 5.25 5.125 7.725 5.125 10.875V18.75H16.375V10.875Z"
                            fill="#00703C" />
                    </svg>

                    <span class="govuk-visually-hidden">Notifications</span>
                </a>
                <a asp-controller="Settings" asp-action="Index"
                    class="app-nav__link @(ViewBag.Section == "Settings" ? "app-nav__link--active" :"")"><svg width="26"
                        height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9375 13.6175V12.3744L23.4975 11.0094C23.7851 10.7559 23.9738 10.409 24.0303 10.0299C24.0868 9.65072 24.0074 9.26381 23.8063 8.93752L21.8888 5.68752C21.7463 5.44074 21.5414 5.23576 21.2947 5.09315C21.048 4.95054 20.7681 4.87532 20.4831 4.87502C20.3065 4.87367 20.1309 4.90112 19.9631 4.95627L17.9888 5.62252C17.6479 5.39601 17.2923 5.19243 16.9244 5.01315L16.51 2.96565C16.4357 2.59158 16.2322 2.25556 15.9351 2.01641C15.6381 1.77726 15.2663 1.65022 14.885 1.65753H11.0825C10.7012 1.65022 10.3295 1.77726 10.0324 2.01641C9.73532 2.25556 9.53182 2.59158 9.45752 2.96565L9.04315 5.01315C8.67259 5.19239 8.31431 5.39596 7.97065 5.62252L6.0369 4.92377C5.86733 4.87959 5.69173 4.86313 5.5169 4.87502C5.23193 4.87532 4.95206 4.95054 4.70534 5.09315C4.45863 5.23576 4.25375 5.44074 4.11127 5.68752L2.19377 8.93752C2.00412 9.26333 1.93365 9.64493 1.99442 10.017C2.0552 10.389 2.24343 10.7284 2.5269 10.9769L4.06252 12.3825V13.6256L2.5269 14.9906C2.23543 15.2409 2.04204 15.5863 1.98106 15.9656C1.92007 16.3449 1.99544 16.7335 2.19377 17.0625L4.11127 20.3125C4.25375 20.5593 4.45863 20.7643 4.70534 20.9069C4.95206 21.0495 5.23193 21.1247 5.5169 21.125C5.69349 21.1264 5.86913 21.0989 6.0369 21.0438L8.01127 20.3775C8.35215 20.604 8.70773 20.8076 9.07565 20.9869L9.49002 23.0344C9.56432 23.4085 9.76782 23.7445 10.0649 23.9836C10.362 24.2228 10.7337 24.3498 11.115 24.3425H14.95C15.3313 24.3498 15.7031 24.2228 16.0001 23.9836C16.2972 23.7445 16.5007 23.4085 16.575 23.0344L16.9894 20.9869C17.36 20.8077 17.7182 20.6041 18.0619 20.3775L20.0281 21.0438C20.1959 21.0989 20.3715 21.1264 20.5481 21.125C20.8331 21.1247 21.113 21.0495 21.3597 20.9069C21.6064 20.7643 21.8113 20.5593 21.9538 20.3125L23.8063 17.0625C23.9959 16.7367 24.0664 16.3551 24.0056 15.9831C23.9448 15.611 23.7566 15.2717 23.4731 15.0231L21.9375 13.6175ZM20.4831 19.5L17.6963 18.5575C17.0439 19.1101 16.2983 19.5421 15.4944 19.8331L14.9175 22.75H11.0825L10.5056 19.8656C9.70812 19.5663 8.96654 19.1351 8.3119 18.59L5.5169 19.5L3.5994 16.25L5.8094 14.3C5.65916 13.459 5.65916 12.598 5.8094 11.7569L3.5994 9.75002L5.5169 6.50002L8.30377 7.44252C8.95616 6.88994 9.70176 6.45798 10.5056 6.1669L11.0825 3.25003H14.9175L15.4944 6.1344C16.2919 6.43374 17.0335 6.86495 17.6881 7.41002L20.4831 6.50002L22.4006 9.75002L20.1906 11.7C20.3409 12.5411 20.3409 13.4021 20.1906 14.2431L22.4006 16.25L20.4831 19.5Z"
                            fill="#00703C" stroke="#00703C" stroke-width="0.5" />
                        <path
                            d="M13 17.875C12.0358 17.875 11.0933 17.5891 10.2916 17.0534C9.48991 16.5177 8.86507 15.7564 8.49609 14.8656C8.12711 13.9748 8.03057 12.9946 8.21867 12.0489C8.40678 11.1033 8.87108 10.2346 9.55286 9.55286C10.2346 8.87108 11.1033 8.40678 12.0489 8.21867C12.9946 8.03057 13.9748 8.12711 14.8656 8.49609C15.7564 8.86507 16.5177 9.48991 17.0534 10.2916C17.5891 11.0933 17.875 12.0358 17.875 13C17.8815 13.642 17.7599 14.2789 17.5172 14.8733C17.2745 15.4677 16.9157 16.0077 16.4617 16.4617C16.0077 16.9157 15.4677 17.2745 14.8733 17.5172C14.2789 17.7599 13.642 17.8815 13 17.875ZM13 9.75C12.5705 9.74 12.1434 9.81722 11.7445 9.97701C11.3457 10.1368 10.9834 10.3758 10.6796 10.6796C10.3758 10.9834 10.1368 11.3457 9.97701 11.7445C9.81722 12.1434 9.74 12.5705 9.75 13C9.74 13.4295 9.81722 13.8566 9.97701 14.2555C10.1368 14.6543 10.3758 15.0166 10.6796 15.3204C10.9834 15.6242 11.3457 15.8632 11.7445 16.023C12.1434 16.1828 12.5705 16.26 13 16.25C13.4295 16.26 13.8566 16.1828 14.2555 16.023C14.6543 15.8632 15.0166 15.6242 15.3204 15.3204C15.6242 15.0166 15.8632 14.6543 16.023 14.2555C16.1828 13.8566 16.26 13.4295 16.25 13C16.26 12.5705 16.1828 12.1434 16.023 11.7445C15.8632 11.3457 15.6242 10.9834 15.3204 10.6796C15.0166 10.3758 14.6543 10.1368 14.2555 9.97701C13.8566 9.81722 13.4295 9.74 13 9.75Z"
                            fill="#00703C" />
                    </svg>

                    <span class="govuk-visually-hidden">Settings</span></a>
            </nav>
        </footer>
    </div>
    <script type="module" src="/js/libs/govuk-frontend.min.js"></script>
    <script type="module">
        import {
            initAll
        } from '/js/libs/govuk-frontend.min.js'
        initAll()
    </script>
</body>

</html>