@using SFA.DAS.ApprenticeApp.Pwa.Configuration
@using Newtonsoft.Json
@inject ApplicationConfiguration applicationConfiguration
@{
    ViewData["Title"] = "Settings";
    ViewData["Section"] = "Account";
}

<div class="app-page-header">
    <div class="app-page-header__back"><a asp-action="YourAccount" asp-controller="Account"
                                          class="app-back-link">Back</a>
    </div>
    <h1 class="app-page-header__heading">Settings</h1>
    <div class="app-page-header__forward"></div>
</div>
<div class="app-card">
    <div class="app-settings-wrap settings-grid-container">
        <div class="app-settings-content-wrap" style="display:none" id="notificationsOn">
            <h2 class="govuk-heading-m">
                Push notifications
            </h2>
            <p class="govuk-body">
                You have turned on push notifications. This means you will receive notifications directly to your
                device, including:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>any reminders you have set for activities in your tracker</li>
                <li>useful guidance about your apprenticeship</li>
            </ul>
            <p class="govuk-body">
                To turn off push notifications, use the toggle and block notifications when prompted.
            </p>
        </div>
        <div class="app-settings-content-wrap" style="display:none" id="notificationsOff">
            <h2 class="govuk-heading-m">
                Push notifications
            </h2>
            <p class="govuk-body">
                You have turned off push notifications. This means you will only see notifications when you are
                using the app, and you will not receive them directly to your device. This includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>any reminders you have set for activities in your tracker</li>
                <li>useful guidance about your apprenticeship</li>
            </ul>
            <p class="govuk-body">
                To turn on push notifications, use the toggle and allow notifications when prompted.
            </p>
        </div>
        <div class="app-settings-switch-wrap">
            <label class="toggle">
                <span class="govuk-visually-hidden">Allow push notifications</span>
                <input type="checkbox" id="notificationSwitch" onclick="toggleNotifications()"
                       onkeydown="toggleNotifications()" onkeypress="toggleNotifications()"  tabindex="0">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>

<div class="app-card">
    <div class="app-settings-wrap settings-grid-container">
        <div class="app-settings-content-wrap" style="display:none" id="trackCookiesContentOn">
            <h2 class="govuk-heading-m">
                Tracking analytics
            </h2>
            <p class="govuk-body">
                You have turned on additional cookies so we can remember your settings, understand how people use the service and make improvements.
            </p>
        </div>
        <div class="app-settings-content-wrap" id="trackCookiesContentOff">
            <h2 class="govuk-heading-m">
                Tracking analytics
            </h2>
            <p class="govuk-body">
                You have turned off additional cookies.
            </p>
        <p class="govuk-body">
                We'd like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.
            </p>
        </div>
        <div class="app-settings-switch-wrap">
            <label class="toggle">
                <span class="govuk-visually-hidden">Allow tracking analytics</span>
                <input type="checkbox" id="trackCookiesSwitch" tabindex="0">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>

<!-- HTML for the popup box -->
<div class="app-modal change-notifications" aria-hidden="true">
    <div class="app-modal__content" tabindex="0">
        <p class="govuk-heading-m">To change the notifications option for this app open your device settings.</p>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" onclick="toggleNotifications()" onkeydown="toggleNotifications()"
                    onkeypress="toggleNotifications()">OK</button>
        </div>
    </div>
</div>
<script>
    var publicKey = @Html.Raw(Json.Serialize(@applicationConfiguration.PushNotificationPublicKey));
    window.pushNotificationKey = publicKey;
</script>

@await Html.PartialAsync("_SettingsJs.cshtml")
@await Html.PartialAsync("../Shared/_PushNotificationsJs.cshtml")
