.app-pages-home {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  text-align: center;
}

.app-pages-home__header {
  background-color: #000;
  align-content: end;
  height: 20dvh;
  margin-bottom: 10dvh;
}

.app-pages-home__govuk-logo {
  color: #fff;
  margin: 0 0 $app-gap;
  padding: 0;
}

.app-pages-home__middle {
  height: 40dvh;
  align-content: center;
  padding: 0 1rem;
}

.app-pages-home__bottom {
  height: 30dvh;
  padding: $app-gap;
  align-content: end;
}

.app-pages-home__logo {
  max-width: 100%;
  @include govuk-media-query(tablet) {
    max-width: 50%;
  }
  @include govuk-media-query(desktop) {
    max-width: 33%;
  }
}