.article-button {
  background: none;
  border: none;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  border-radius: 3px;

  &:focus {
    outline: 3px solid $govuk-focus-colour;
  }

  i {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &.fa-thumbs-down,
    &.fa-thumbs-up {
      width: 20px;
      height: 20px;
      margin: 2px;
    }
  }

  span {
    @include govuk-visually-hidden()
  }
}

.fa-thumbs-up {
  background-image: url("/assets/images/icons/like.svg");
}

.fa-thumbs-up.fa-regular {
  background-image: url("/assets/images/icons/like.svg");
}

.fa-thumbs-up.fa-solid {
  background-image: url("/assets/images/icons/liked.svg");
}

.fa-thumbs-down {
  background-image: url("/assets/images/icons/dislike.svg");
}

.fa-thumbs-down.fa-regular {
  background-image: url("/assets/images/icons/dislike.svg");
}

.fa-thumbs-down.fa-solid {
  background-image: url("/assets/images/icons/disliked.svg");
}

.fa-bookmark {
  background-image: url("/assets/images/icons/pin.svg");
}


.fa-bookmark.fa-regular {
  background-image: url("/assets/images/icons/pin.svg");
}

.fa-bookmark.fa-solid {
  background-image: url("/assets/images/icons/pinned.svg");
}

.fa-bookmark:before,
.fa-thumbs-up:before,
.fa-thumbs-down:before {
  content: "" !important;
}

.article-thumbs {
  margin-right: auto;
  display: flex;
  gap: 10px;
}
