.app-pages-terms {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-pages-terms__header {
  align-content: flex-end;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 15vh;
  top: 0;
}

.app-pages-terms__content {
  padding: $app-gap;
  position: fixed;
  width: 100%;
  top: 15vh;
  bottom: 15vh;
  overflow: auto;
}

.app-pages-terms__buttons {
  padding: $app-gap;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 15vh;
  display: flex;
  flex-direction: row;
  gap: $app-gap;
  align-items: flex-start;
}
