@using SFA.DAS.ApprenticeApp.Application
@{
    var tab = ViewData["Tab"] as string ?? "todo";
    var cookieName = tab == "todo" ? Constants.TaskFiltersTodoCookieName : Constants.TaskFiltersDoneCookieName;
    var detailsId = $"filter-tasks-{tab}";
    var filtersSetId = $"filters-set-{tab}";
}

<div class="app-task-list">


    <details class="govuk-details app-details" id="@detailsId">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Show filters
            </span>
        </summary>
        <div class="govuk-!-margin-top-4">
            <div class="app-card app-card--highlight">
                <div class="app-card__heading">
                    <h2 class="govuk-heading-m">Filters</h2>
                </div>
                <div id="@filtersSetId" class="app-tag__wrapper"></div>
                <div class="app-card__body">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Category filters
                                </legend>
                                <div
                                        class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes"
                                        style="clear: both"
                                >
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="none-@tab"
                                                name="filter"
                                                type="checkbox"
                                                value="none"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="none-@tab">
                                            None
                                        </label>
                                    </div>
    
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="assignment-@tab"
                                                name="filter"
                                                type="checkbox"
                                                value="assignment"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="assignment-@tab">
                                            <span>Assignment</span>
                                        </label>
                                    </div>
    
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="epa-@tab"
                                                name="filter"
                                                type="checkbox"
                                                value="epa"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="epa-@tab">
                                            <span>Apprenticeship assessment</span>
                                        </label>
                                    </div>
    
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="deadline-@tab"
                                                name="filter"
                                                type="checkbox"
                                                value="deadline"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="deadline-@tab">
                                            <span>Deadline</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Other filters
                                </legend>
                                <div
                                        class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes"
                                >
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="ksb-@tab"
                                                name="other-filter"
                                                type="checkbox"
                                                value="ksb"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="ksb-@tab">
                                            Linked to KSB
                                        </label>
                                    </div>
    
                                    <div class="govuk-checkboxes__item reminder-filter">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="reminder-@tab"
                                                name="other-filter"
                                                type="checkbox"
                                                value="reminder"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="reminder-@tab">
                                            Reminder set
                                        </label>
                                    </div>
    
                                    <div class="govuk-checkboxes__item">
                                        <input
                                                class="govuk-checkboxes__input"
                                                id="note-added-@tab"
                                                name="other-filter"
                                                type="checkbox"
                                                value="note-added"
                                        />
                                        <label class="govuk-label govuk-checkboxes__label" for="note-added-@tab">
                                            Note attached
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <a href="#" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-3 apply">Apply filters</a>
                </div>
            </div>
        </div>
    </details>
    
    <div class="app-task-list__sort-by">
        <label for="sort-by-@tab" class="govuk-visually-hidden">
            Sort by
        </label>
        <select class="govuk-select" id="sort-by-@tab" name="sort-by">
            <option value="recently_added">Sort by recently added</option>
            <option value="date_due">Sort by due date</option>
        </select>
    </div>
    
</div>

<script type="text/javascript">
  (function () {
    document.addEventListener('DOMContentLoaded', function () {
      var container = document.getElementById('@detailsId');
      var filtersSet = document.getElementById('@filtersSetId');
      var cookieFilter = getCookie('@cookieName');

      var sortSelect = document.getElementById('sort-by-@tab');
      if (sortSelect) {
        var params = new URLSearchParams(window.location.search);
        var sortParam = params.get('sort');
        if (sortParam) {
          sortSelect.value = sortParam;
        }
        sortSelect.addEventListener('change', function () {
          var params = new URLSearchParams(window.location.search);
          params.set('sort', this.value);
          window.location.search = params.toString();
        });
      }

      if (cookieFilter != null && cookieFilter != "") {
        container.open = true;

        var data = cookieFilter.split("&");

        for (var k in data) {
          var newData = data[k].split("=");

          var checkbox = container.querySelector('input[value="' + newData[1] + '"]');
          if (checkbox) checkbox.checked = true;

          var tag = document.createElement('div');
          tag.className = 'app-tag app-tag--filter';
          tag.innerHTML =
            "<span>" +
            newData[1].replace(/-/g, " ") +
            "</span> <a class='app-tag__action app-tag__action--remove remove-filter' data-id='" +
            newData[1] +
            "'><span class='govuk-visually-hidden'>Remove " +
            newData[1].replace(/-/g, " ") +
            " from your filters</span></a>";
          filtersSet.appendChild(tag);
        }
      } else {
        if (filtersSet) filtersSet.style.display = 'none';
      }

      if (filtersSet) {
        filtersSet.addEventListener('click', function (e) {
          var target = e.target.closest('.remove-filter');
          if (!target) return;
          e.preventDefault();

          var filterName = target.dataset.id;
          var checkbox = container.querySelector('input[value="' + filterName + '"]');
          if (checkbox) checkbox.checked = false;

          applyAndSaveFilters();
        });
      }

      var applyBtn = container.querySelector('.apply');
      if (applyBtn) {
        applyBtn.addEventListener('click', applyAndSaveFilters);
      }

      function applyAndSaveFilters() {
        var serialized = Array.from(container.querySelectorAll('input[type=checkbox]:checked'))
          .map(function (cb) { return encodeURIComponent(cb.name) + '=' + encodeURIComponent(cb.value); })
          .join('&');

        setCookie('@cookieName', serialized, { secure: true, "max-age": 3600 });
        location.reload();
      }
    });
  })();

  window.getCookie = window.getCookie || function (name) {
    let matches = document.cookie.match(
      new RegExp(
        "(?:^|; )" +
          name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
          "=([^;]*)",
      ),
    );
    return matches ? decodeURIComponent(matches[1]) : undefined;
  };

  window.setCookie = window.setCookie || function (name, value, attributes = {}) {
    attributes = {
      path: "/",
    };

    if (attributes.expires instanceof Date) {
      attributes.expires = attributes.expires.toUTCString();
    }

    let updatedCookie =
      encodeURIComponent(name) + "=" + encodeURIComponent(value);

    for (let attributeKey in attributes) {
      updatedCookie += "; " + attributeKey;
      let attributeValue = attributes[attributeKey];
      if (attributeValue !== true) {
        updatedCookie += "=" + attributeValue;
      }
    }

    document.cookie = updatedCookie;
  };
</script>
