<details class="govuk-details app-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with tasks
    </span>
    </summary>
    <div class="govuk-details__text">
        <p>Add tasks you need to do for your apprenticeship.</p>
        <p>You can link tasks to knowledge, skills and behaviours (KSBs).</p>
        <p>If you’d like to get notifications about your tasks, you can set a reminder.</p>
    </div>
</details>