.app-content-list {
  @include govuk-typography-common;
  margin: 0 0 -1rem;
}

.app-content-list__title {
  color: $govuk-secondary-text-colour;
  margin-bottom: 0.5rem;
  font-size: 14px;
  line-height: 1;
}

.app-content-list__content {
  margin: 0 0 1rem;
}

.app-icon-list {
  @extend .govuk-list;
  margin-top: 30px;
  & > li {
    @extend .govuk-body-l;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
    img,
    svg {
      width: 30px;
      min-height: 30px;
    }
    span {
      flex: 1 1 0px;
    }
  }
}
