.app-icon-list {
  @extend .govuk-list;
  list-style: none;
  margin: 0 0 $app-gap;
  padding: 0;
}

.app-icon-list__icon {
  max-width: 1rem;
  height: 1rem;
  svg {
    @include app-svg-common;
    stroke: currentColor;
    display: block;
  }
}

.app-icon-list > li {
  margin-bottom: $app-gap-half;
  display: flex;
  gap: $app-gap-half;
  flex-direction: row;
  align-items: center;
  span {
    font-family: $govuk-font-family;
    font-size: 1rem;
  }
}

.app-icon-list--l {
  @include govuk-font-size(24);
  margin: $app-gap 0;
}

.app-icon-list--l > li {
  margin-bottom: $app-gap;
  gap: $app-gap;
  span {
    @include govuk-font-size(24);
  }
}

.app-icon-list--l .app-icon-list__icon {
  max-width: 2rem;
  height: 2rem;
  svg {
    @include app-svg-common;
    stroke: $app-brand-colour;
    width: 2rem;
    max-width: unset;
  }
}

.app-icon-list--l .app-icon-list__icon-grad {
  svg {
    color: rgb(166, 92, 46);
    fill: url(#grad) #832c91;
    stroke: url(#grad) #832c91;
    stroke-width: 0;
  }
}

.app-icon-list--muted {
  color: $govuk-secondary-text-colour;
}
