.app-icon-list {
  @extend .govuk-list;
  list-style: none;
  margin: 0 0 $app-gap;
  padding: 0;
}

.app-icon-list > li {
  margin-bottom: calc($app-gap / 2);
}

.app-icon-list--muted {
  color: $govuk-secondary-text-colour;
}
