.app-onboarding__step-count {
  display: block;
  position: relative;
  top: -1rem;
  @media (min-width: 40.0625em) {
    top: -2rem;
  }
}
.app-onboarding__actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 30px;
  @media (min-width: 40.0625em) {
    flex-direction: row;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.app-onboarding__next {
  @media (min-width: 40.0625em) {
    width: 50%;
  }
}

.app-onboarding__back {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.app-onboarding__actions .govuk-button {
  margin-bottom: 0;
}

.app-onboarding__skip {
  order: 2;
}

.app-onboarding__image,
.app-onboarding__image--desktop,
.app-onboarding__image--mobile {
  width: 100%;
  margin-top: 2rem;
  @media (min-width: 40.0625em) {
    margin: 1rem;
  }
}

.app-onboarding__image--desktop {
  display: none;
  @media (min-width: 40.0625em) {
    display: block;
  }
}

.app-onboarding__image--mobile {
  display: block;
  @media (min-width: 40.0625em) {
    display: none;
  }
}