.app-icon-action {
  text-decoration: none;
  color: $app-brand-colour;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:link,
  &:visited {
    color: $app-brand-colour;
  }
  &:focus,
  &:active {
    color: $govuk-text-colour;
  }
}

.app-icon-action__icon {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  margin: 0 0 0.1rem;
  svg {
    @include app-svg-common;
  }
}

.app-icon-action__label {
  @include govuk-typography-common;
  font-size: 0.75rem;
  text-decoration: none;
  display: block;
}
