.app-icon {
  max-width: 24px;
  max-height: 24px;
  align-self: center;
  color: $app-brand-colour;
  :focus & {
    color: inherit;
  }
}

.app-icon--s {
  max-width: 20px;
  max-height: 20px;
}

.app-icon--inline-wrap {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}
