.app-main {
  background: #fafafa;
  padding: 1rem;
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 4.5rem;
  overflow: auto;
}

.app-main--basic {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}
