.app-nav {
  display: flex;
  height: 5rem;
}

.app-nav__link {
  text-align: center;
  flex-grow: 1;
  height: 5rem;
  padding-top: 1.2rem;
  transition: all 0.2s;
  border-top: 2px solid transparent;
  text-decoration: none;
  color: $govuk-secondary-text-colour;
  width: 20%;
  &:active {
    background: #eee;
  }
}

.app-nav__link--active {
  border-top: 2px solid $app-brand-colour;
  color: $govuk-text-colour;
}

.app-nav__link-text {
  @include govuk-typography-common;
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: inherit;
}
