<h1 class="govuk-heading-xl">Your account</h1>
<ul class="app-stack">
    <li class="app-stack__list-item"><a asp-controller="Profile" asp-action="Index" class="app-stack__link">Your
            profile</a></li>
    <li class="app-stack__list-item"><a asp-controller="Settings" asp-action="Index"
            class="app-stack__link">Settings</a></li>
</ul>


<div style="position:absolute;bottom: 10px">
    <button class="govuk-button" style="width: 100%" onclick="location.href='@Url.Action("SigningOut", "Account")'">Sign
        Out</button>
</div>
