@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Contact your training provider</h1>

<p>You cannot currently sign into the app. This could be because the information you entered when you created your account does not:</p>

<ul>
    <li>appear in our records</li>
    <li>match the information in our records</li>
</ul>

<p>Contact xxxx at/on email address/phone number/form so we can update your information.</p>