@{
    ViewData["Title"] = "Contact your training provider";
    Layout = "_LayoutBasic";
}

<div class="app-main">
    <div class="app-main__inner">
        <div class="app-page-header govuk-!-margin-bottom-8">
            <div class="app-page-header__back"><a asp-action="SignOut" asp-controller="Account"
                    class="app-back-link">Close</a>
            </div>
            <h1 class="app-page-header__heading">Contact your training provider</h1>
            <div class="app-page-header__forward"></div>
        </div>
        <p class="govuk-body">You cannot currently sign into the app. This could be because the information you entered
            when you created your account does not:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>appear in our records</li>
            <li>match the information in our records</li>
        </ul>
        <p class="govuk-body">
            Check your junk email for a link to sign in to GOV.UK One Login. If you have not received anything, speak to
            your training provider. They can check which email address you have registered in the apprenticeship
            service, and
            they may be able to update your details if they’re incorrect.
        </p>
        <p class="govuk-body">
            If you need more help, you can call <a href="tel:08000150600">08000 150 600</a> or email
            <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk"
                class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>. Our opening times are Monday to
            Friday, 9am to 5pm. We will reply to emails within 4 hours during our opening times.
        </p>
        <p class="govuk-body">
            You can also visit <a href="https://www.apprenticeships.gov.uk"
                class="govuk-link govuk-link--no-visited-state" target="_blank">apprenticeships.gov.uk</a> for guidance
            about your apprenticeship.
        </p>
    </div>
</div>