@{
    ViewData["Title"] = "Login";
}

<div>
    <p>
        <h1 class="govuk-heading-xl">Login</h1>
        <a class="govuk-button" asp-controller="Account" asp-action="Authenticated">Log me in</a><br />
    </p>
</div>