@{
    ViewData["Title"] = "Your account";
    ViewData["Section"] = "Account";
}


<h1 class="govuk-heading-xl">Your account</h1>
<ul class="app-stack">
    <li class="app-stack__list-item"><a asp-controller="Profile" asp-action="Index" class="app-stack__link">Your
            profile</a></li>
    <li class="app-stack__list-item"><a asp-controller="Settings" asp-action="Index"
            class="app-stack__link">Settings</a></li>
</ul>
<div class="app-!-align-bottom">
    <button class="app-button app-button--secondary govuk-!-margin-bottom-0"
        onclick="location.href='@Url.Action("SigningOut", "Account")'">Sign
        Out</button>
</div>
