.app-tag {
  @extend .govuk-tag;
  border-radius: $app-border-radius;
  margin: 0;
  background-color: $app-brand-secondary;
  color: $app-brand-dark;
  max-width: none;
}

.app-tag--pink {
  background-color: #f6d7d2;
  color: #260d08;
}

.app-tag--yellow {
  color: #574d14;
  background-color: govuk-tint(govuk-colour("yellow"), 75%);
}

.app-tag--red {
  color: govuk-shade(govuk-colour("red"), 80%);
  background-color: govuk-tint(govuk-colour("red"), 75%);
}

.app-tag--blue {
  color: #152c48;
  background-color: govuk-tint(govuk-colour("blue"), 90%);
}

.app-tag--green {
  color: govuk-shade(govuk-colour("green"), 20%);
  background-color: govuk-tint(govuk-colour("green"), 80%);
}

.app-tag--status-notstarted {
  @extend .app-tag--pink;
}

.app-tag--status-inprogress {
  @extend .app-tag--yellow;
}

.app-tag--status-readyforreview {
  @extend .app-tag--blue;
}

.app-tag--status-done {
  @extend .app-tag--green;
}
