.app-tag {
  @extend .govuk-tag;
  border-radius: $app-border-radius;
  margin: 0;
  background-color: $app-brand-secondary;
  color: $app-brand-dark;
  max-width: none;
}

.app-tag--pink {
  background-color: #f5e2eb;
  color: #62223f;
}

.app-tag--yellow {
  color: govuk-shade(govuk-colour("yellow"), 65%);
  background-color: govuk-tint(govuk-colour("yellow"), 75%);
}

.app-tag--red {
  color: govuk-shade(govuk-colour("red"), 80%);
  background-color: govuk-tint(govuk-colour("red"), 75%);
}

.app-tag--blue {
  color: govuk-shade(govuk-colour("blue"), 60%);
  background-color: govuk-tint(govuk-colour("blue"), 90%);
}

.app-tag--green {
  color: govuk-shade(govuk-colour("green"), 20%);
  background-color: govuk-tint(govuk-colour("green"), 80%);
}
