@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutBasic";

}

<div>
    <div class="app-welcome-header">
        <h1 class="govuk-heading-xl app-welcome-header__heading">Welcome to the My Apprenticeship App</h1>
    </div>

    <ul class="govuk-list app-icon-list">
        <li><img src="/assets/images/icons/profile--red.svg" alt="" />
            <span>View details about your apprenticeship such as your planned end date.</span>
        </li>
        <li><img src="/assets/images/icons/checklist.svg" alt="" />
            <span>Organise your workload by adding tasks you need to do and setting reminders for
                them.
            </span>
        </li>
        <li><img src="/assets/images/icons/brain.svg" alt="" />
            <span>Gather evidence for your end-point assessment (EPA) by linking tasks to the
                knowledge, skills and behaviours (KSBs) they helped you gain.</span>
        </li>
        <li><img src="/assets/images/icons/question.svg" alt="" />
            <span>Access useful guidance about apprenticeships and the support that is available to
                you.
            </span>
        </li>
    </ul>

    <div class="app-welcome-footer">
        <a href="/Profile" class="govuk-button">Start now</a>
    </div>

</div>
