<a href="#filter" data-module="app-overlay" class="app-link">Filter</a>
<div class="app-overlay" id="filter">
    <div class="app-overlay-header">
        <div class="app-overlay-header__cancel">
            <a href="#" class="app-overlay-header__link">Cancel</a>
        </div>
        <h2 class="app-overlay-header__heading">
            Task filters
        </h2>
        <div class="app-overlay-header__save">
            <a href="#" class="app-overlay-header__link">Add</a>
        </div>
    </div>
    <div class="app-overlay__content">
        <p>Filters</p>
    </div>
</div>
