@{
    ViewData["Title"] = "Account";
    ViewData["Section"] = "Account";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your account</h1>
<ul class="app-stack">
    <li class="app-stack__list-item"><a asp-controller="Frontend" asp-action="Profile" class="app-stack__link">Your
            profile</a></li>
    <li class="app-stack__list-item"><a asp-controller="Frontend" asp-action="Settings"
            class="app-stack__link">Settings</a></li>
</ul>
