@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutBasic";
}

<div class="app-pages-terms">
    <div class="app-overlay-header">
        <a href="back" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">Contact your training provider</h1>
    </div>
    <div class="app-content-wrap">
        <p>
            Aptent urna bibendum facilisi? Dapibus commodo neque non hendrerit tortor fames. Ullamcorper pellentesque,
            imperdiet lacinia hac pulvinar egestas dictumst aenean. Cursus rutrum consequat viverra primis dis etiam
            pulvinar magnis imperdiet aptent. Lorem accumsan aliquam commodo conubia urna in lobortis vivamus. Torquent,
            euismod rhoncus ipsum mattis sed lacus? Penatibus ut; cubilia felis parturient proin natoque sit quisque
            ornare
            nisl senectus. Arcu adipiscing et habitant arcu nam euismod platea luctus et. Vestibulum erat eleifend ut
            sodales phasellus a. Odio ligula cras conubia molestie adipiscing.
        </p>
        <p>
            Ipsum vulputate per per platea taciti. Ut accumsan, volutpat velit potenti aenean. Accumsan elit congue
            ultricies dapibus nullam curabitur. Pretium nullam quis id. Aliquet libero placerat montes inceptos metus
            nisi!
            Elementum primis natoque aliquet convallis, feugiat praesent placerat per laoreet commodo! Malesuada sed
            nibh
            tincidunt fames non, magnis eget commodo felis. Auctor volutpat ut.
        </p>
        <p>
            Aliquet iaculis nisl ut curae; nunc. Elit ad consectetur consequat eu penatibus turpis. Parturient metus nec
            class, ac dui elit netus ornare. Nullam at dui dictum varius bibendum. Sollicitudin sollicitudin ultricies
            nec
            facilisis ante proin mi. Sem vel consequat consectetur nullam integer felis. Nisi ultrices pretium diam
            neque
            tortor dui, phasellus congue neque mattis? Vulputate lacinia netus proin. Faucibus aliquet risus augue class
            cras rhoncus laoreet tristique quam, maecenas vestibulum! Cras sollicitudin pellentesque nostra pharetra
            elementum facilisi tristique molestie enim ante. Aenean mollis potenti feugiat feugiat maecenas convallis
            accumsan consequat aliquam quis!
        </p>
    </div>
    <div class="govuk-button-group">
        <a asp-controller="Frontend" action="Welcome" class="govuk-button">Accept</a>
        <a asp-controller="Frontend" action="Home" class="govuk-button govuk-button--secondary">Decline</a>
    </div>

</div>