@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<div class="app-card">
    <h2 class="app-card__heading">Write up tutor notes</h2>
</div>

<div class="app-card">
    <h2 class="app-card__heading">Submit assessment for first module</h2>
</div>

<div class="app-card">
    <h2 class="app-card__heading">Prep for EPA meeting</h2>
</div>