@{
    ViewData["Title"] = "Terms";
    Layout = "_LayoutBasic";
}

<div class="app-pages-terms">
    <div class="app-pages-terms__header">
        <h1 class="govuk-heading-l">Terms & conditions</h1>
    </div>
    <div class="app-pages-terms__content">
        <p>
            Aptent urna bibendum facilisi? Dapibus commodo neque non hendrerit tortor fames. Ullamcorper
            pellentesque,
            imperdiet lacinia hac pulvinar egestas dictumst aenean. Cursus rutrum consequat viverra primis dis etiam
            pulvinar magnis imperdiet aptent. Lorem accumsan aliquam commodo conubia urna in lobortis vivamus.
            Torquent,
            euismod rhoncus ipsum mattis sed lacus? Penatibus ut; cubilia felis parturient proin natoque sit quisque
            ornare
            nisl senectus. Arcu adipiscing et habitant arcu nam euismod platea luctus et. Vestibulum erat eleifend
            ut
            sodales phasellus a. Odio ligula cras conubia molestie adipiscing.
        </p>
        <p>
            Ipsum vulputate per per platea taciti. Ut accumsan, volutpat velit potenti aenean. Accumsan elit congue
            ultricies dapibus nullam curabitur. Pretium nullam quis id. Aliquet libero placerat montes inceptos
            metus
            nisi!
            Elementum primis natoque aliquet convallis, feugiat praesent placerat per laoreet commodo! Malesuada sed
            nibh
            tincidunt fames non, magnis eget commodo felis. Auctor volutpat ut.
        </p>
        <p>
            Aliquet iaculis nisl ut curae; nunc. Elit ad consectetur consequat eu penatibus turpis. Parturient metus
            nec
            class, ac dui elit netus ornare. Nullam at dui dictum varius bibendum. Sollicitudin sollicitudin
            ultricies
            nec
            facilisis ante proin mi. Sem vel consequat consectetur nullam integer felis. Nisi ultrices pretium diam
            neque
            tortor dui, phasellus congue neque mattis? Vulputate lacinia netus proin. Faucibus aliquet risus augue
            class
            cras rhoncus laoreet tristique quam, maecenas vestibulum! Cras sollicitudin pellentesque nostra pharetra
            elementum facilisi tristique molestie enim ante. Aenean mollis potenti feugiat feugiat maecenas
            convallis
            accumsan consequat aliquam quis!
        </p>
        <p>
            Dolor eu velit, placerat dolor? Tellus mattis aenean auctor sem ac, etiam ullamcorper faucibus dignissim
            blandit. Nisi viverra nec semper conubia consectetur ridiculus non praesent orci integer porta dolor!
            Penatibus
            nibh integer primis suscipit habitasse odio hac nunc vitae dui! Nisi quam venenatis suspendisse.
            Fermentum
            pharetra volutpat urna nibh sodales molestie nisl sodales egestas habitasse pharetra. Rutrum conubia
            velit,
            facilisis ut lacinia phasellus auctor orci. Gravida, urna fames aliquam mollis. Orci viverra nunc elit
            convallis
            dui consequat conubia nascetur viverra. Torquent ut ad sodales augue magnis felis ornare tempus morbi
            facilisi
            platea convallis! Id nulla nascetur vel viverra neque.
        </p>
        <p>
            Cubilia congue et justo conubia pellentesque, nostra tempor hac. Nisi accumsan sagittis etiam eget
            sapien
            ante
            ac eros justo ut mauris at? Pellentesque hendrerit interdum nisl id et nec erat curabitur nam nec arcu.
            Condimentum sollicitudin sagittis venenatis morbi augue morbi augue congue imperdiet. Aptent suscipit
            eleifend
            congue, eu commodo praesent. Faucibus ligula sollicitudin venenatis. Accumsan class malesuada
            ullamcorper
            vel
            faucibus bibendum arcu class. Sociosqu, vehicula primis malesuada volutpat dolor lacinia? Luctus donec
            consequat
            conubia. Orci vitae himenaeos semper dis.
        </p>
    </div>
    <div class="app-pages-terms__buttons">
        <a asp-controller="Frontend" asp-action="Welcome" class="app-button">Accept</a>
        <a asp-controller="Frontend" asp-action="Home" class="app-button app-button--secondary">Decline</a>
    </div>

</div>