.app-tabs {
  @include govuk-font($size: 24);
}

.app-tabs__list {
  margin: 0 0 $app-gap calc($app-gap-half * -1);
  padding: 0;
  list-style: none;
  display: flex;
}

.app-tabs__tab {
  text-decoration: none;
  font-weight: $govuk-font-weight-bold;
  color: $govuk-secondary-text-colour;
  line-height: 1;
  padding: 0.5rem;
  display: block;
  position: relative;
  &:after {
    content: "";
    background-color: transparent;
    height: 3px;
    position: absolute;
    left: $app-gap-half;
    right: $app-gap-half;
    bottom: 0;
    transition: all 200ms;
  }
  &:link {
    color: $govuk-secondary-text-colour;
  }
  &:visited {
    color: $govuk-secondary-text-colour;
  }
  &:focus {
    background-color: $app-brand-secondary;
    color: #000;
    box-shadow: none;
  }
  .app-tabs__list-item--selected & {
    color: $app-brand-colour;
    &:after {
      background-color: $app-brand-colour;
    }
  }
}

.app-tabs__panel {
  font-size: 1rem;
}
