<div>
    <h2 class="govuk-heading-m">You have not added any tasks yet</h2>
    <p class="govuk-body-l">
        Use this area to organise your workload and gather evidence for your end-point
        assessment (EPA).
    </p>
    <ul class="app-icon-list app-icon-list--l">
        <li>
            <span class="app-icon-list__icon svg-placeholder"></span>
            <span>Add tasks you need to complete for your apprenticeship.</span>
        </li>
        <li>
            <span class="app-icon-list__icon svg-placeholder"></span>
            <span>
                Set reminders for upcoming tasks.
            </span>
        </li>
        <li>
            <span class="app-icon-list__icon svg-placeholder"></span>
            <span>
                Add notes and files to tasks to plan ahead or track evidence.
            </span>
        </li>
        <li>
            <span class="app-icon-list__icon svg-placeholder"></span>
            <span>
                Link tasks to the knowledge, skills and behaviours (KSBS) they helped you gain.
            </span>
        </li>
    </ul>
</div>