@{
    Layout = null;
}

<div class="empty-tasks">
    <h2 class="govuk-heading-m">You have not added any tasks yet</h2>
    <p class="govuk-body-l">
        Use this area to organise your workload and gather evidence for your end-point
        assessment (EPA).
    </p>
    <ul class="app-icon-list app-icon-list--l">
        <li>
            <span class="app-icon-list__icon">
                <svg>
                    <use xlink:href="/assets/images/icons.svg#tasks"></use>
                </svg>
            </span>
            <span>Add tasks you need to complete for your apprenticeship.</span>
        </li>
        <li>
            <span class="app-icon-list__icon">
                <svg>
                    <use xlink:href="/assets/images/icons.svg#edit"></use>
                </svg>
            </span>
            <span>
                Add notes to tasks to plan ahead or track evidence.
            </span>
        </li>
        <li>
            <span class="app-icon-list__icon">
                <svg>
                    <use xlink:href="/assets/images/icons.svg#ksbs"></use>
                </svg>
            </span>
            <span>
                Link tasks to the knowledge, skills and behaviours (KSBS) they helped you gain.
            </span>
        </li>
        <li>
            <span class="app-icon-list__icon">
                <svg>
                    <use xlink:href="/assets/images/icons.svg#notifications"></use>
                </svg>
            </span>
            <span>
                Set reminders for upcoming tasks and receive notifications for them.
            </span>
        </li>
    </ul>
</div>

<script>
    $(document).find('.empty-tasks').parent().parent().find('.add-btn').addClass('app-fab--highlight')
</script>