@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TasksPageModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<div id="add-edit-wrapper">
    <div class="loader" style="margin-bottom: 40px"></div>
</div>

<h1 class="govuk-heading-xl">Your tasks</h1>

<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab todo" href="#tasks-todo">
                    To do
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab done" href="#tasks-done">
                    Done
                </a>
            </li>
        </ul>
        <partial name="_Filter.cshtml" />
    </div>

    <div id="filters-set" class="govuk-!-margin-bottom-4"></div>

    <div class="app-tabs__panel" id="tasks-todo">
        <div id="tasks-todo__tasks">
            <div class="loader"></div>
        </div>
        <a data-status-id="0" href="#top" class="app-fab add-btn">
            <span>Add a task</span>
        </a>
    </div>

    <div class="app-tabs__panel" id="tasks-done">
        <div id="tasks-done__tasks">
            <div class="loader"></div>
        </div>
        <a data-status-id="1" href="#top" class="app-fab add-btn">
            <span>Add a task</span>
        </a>
    </div>


</div>




@await Html.PartialAsync("_TasksJs.cshtml", Model)