@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TasksPageModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<div id="add-edit-wrapper">
    <div class="loader" style="margin-bottom: 40px"></div>
</div>

<div class="app-page-header app-sticky">
    <h1 class="govuk-heading-xl">Your tasks</h1>
    <div class="app-dropdown app-dropdown--year" data-module="app-dropdown">
        <button class="app-dropdown__toggle" aria-expanded="false">
            <span class="govuk-visually-hidden">Tasks for the year </span>2024
        </button>
        <div class="app-dropdown__menu">
            <ul class="app-dropdown__menu-list">
                <li>
                    <a href="#" class="app-dropdown__menu-link">
                        <span class="govuk-visually-hidden">Show tasks for the year </span>2023
                    </a>
                </li>
                <li>
                    <a href="#" class="app-dropdown__menu-link">
                        <span class="govuk-visually-hidden">Show tasks for the year </span>2024
                    </a>
                </li>
                <li>
                    <a href="#" class="app-dropdown__menu-link">
                        <span class="govuk-visually-hidden">Show tasks for the year </span>2025
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab todo" href="#tasks-todo">
                    To do
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab done" href="#tasks-done">
                    Done
                </a>
            </li>
        </ul>
        <div class="app-dropdown app-dropdown--sort" data-module="app-dropdown">
            <button class="app-dropdown__toggle" aria-expanded="false">
                <span class="app-dropdown__toggle-sort-label">Sort by:</span>
                <span class="app-dropdown__toggle-sort-value" id="sortby">Date due</span>
            </button>
            <div class="app-dropdown__menu">
                <ul class="app-dropdown__menu-list">
                    <li>
                        <a href="#" class="app-dropdown__menu-link">
                            Date due
                        </a>
                    </li>
                    <li>
                        <a href="#" class="app-dropdown__menu-link">
                            Recently added
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <partial name="_Filter.cshtml" />
    </div>
    <span class="app-navigation__icon">
        <svg>
            <use xlink:href="/assets/images/icons.svg#unlink">
            </use>
        </svg>
    </span>
    <div id="filters-set" class="govuk-!-margin-bottom-4"></div>

    <div class="app-tabs__panel" id="tasks-todo">
        <div id="tasks-todo__tasks">
            <div class="loader"></div>
        </div>
        <a data-status-id="0" href="#top" class="app-fab add-btn">
            <span>Add a task</span>
        </a>
    </div>

    <div class="app-tabs__panel" id="tasks-done">
        <div id="tasks-done__tasks">
            <div class="loader"></div>
        </div>
        <a data-status-id="1" href="#top" class="app-fab add-btn">
            <span>Add a task</span>
        </a>
    </div>


</div>




@await Html.PartialAsync("_TasksJs.cshtml", Model)