@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TasksPageModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your tasks</h1>
<a class="app-dropdown__toggle yearselector" role="button" aria-expanded="false" id="yearId">
    @Model.Year<span class="govuk-visually-hidden"> for Year Selector</span>
</a>
<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item app-tabs__list-item--selected">
                <a class="app-tabs__tab" href="#todo">
                    To do
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab" href="#done">
                    Done
                </a>
            </li>
        </ul>
        <partial name="_Filter.cshtml" />
    </div>
    <div class="app-tabs__panel" id="todo">
        <partial name="_TasksToDo.cshtml" />
    </div>
    <div class="app-tabs__panel" id="done" hidden>
        <partial name="_TasksDone.cshtml" />
    </div>
</div>
<partial name="_AddTasks.cshtml" />
