 
<h1>Your Tasks</h1>

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>



<body>
@*     <h1>Test with partialasync</h1>

    <button id="showView1">To Do</button>
    
    <button id="showView2">Done</button>
    

    <div id="view1" class="view" style="display:block">
        @await Html.PartialAsync("ToDoPartial")
    </div>

    <div id="view2" class="view" style="display:none">

        @await Html.PartialAsync("DonePartial")   
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const view1 = document.getElementById('view1');
            const view2 = document.getElementById('view2');
            const showView1Btn = document.getElementById('showView1');
            
            const showView2Btn = document.getElementById('showView2');
            

            showView1Btn.addEventListener('click', () => {
                view1.style.display = 'block';
                view2.style.display = 'none'
            });



            showView2Btn.addEventListener('click', () => {
                view2.style.display = 'block';
                view1.style.display = 'none'
            });

            
        });

    </script> *@



    <h1>Test with jquery</h1>
<div>
        <div>
            <button id="showTodo">To Do</button>

            <button id="showDone">Done</button>

        </div>

        <script>
            $(document).ready(function () {
                $("#showTodo").click(function () {
                    $('#ShowToDoPartial').show()
                    $('#ShowToDoPartial').load('@Url.Action("ToDoPartial", "Tasks")');
                });

                $("#showDone").click(function () {

                    $('#ShowDonePartial').load('@Url.Action("DonePartial", "Tasks")');
                });
            });
        </script>

        <div id="ShowToDoPartial"></div>
        <div id="ShowDonePartial"></div>

</div>
    
    
</body>
