@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TasksPageModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your tasks</h1>
<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item app-tabs__list-item--selected">
                <a class="app-tabs__tab todo" href="#todo">
                    To do
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab done" href="#done">
                    Done
                </a>
            </li>
        </ul>
        <partial name="_Filter.cshtml" />
    </div>
    <div id="tasks-display">
    </div>
    </div>


@* <partial name="_AddTasks.cshtml" /> *@
<a asp-controller="Tasks" asp-action="Add" class="app-fab">
    <span>Add a task</span>
</a>

@await Html.PartialAsync("_TasksJs.cshtml", Model)