@{
    ViewData["Title"] = "Profile";
    ViewData["Section"] = "Tasks";
}

<div class="app-page-header">
    <h1 class="govuk-heading-xl app-page-header__heading">Your tasks</h1>
</div>
<div class="app-tabs-wrap">
    <div class="app-tabs">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab app-tabs__tab--selected" href="#tasksTodo" role="tab" aria-selected="true">
                    To do
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab" href="#tasksDone" role="tab">
                    Done
                </a>
            </li>
        </ul>
    </div>
    <div class="app-sort">
        Sort by:
    </div>
</div>

<div class="app-tabs">
    <div class="app-tabs__panel" id="tasksTodo" role="tabpanel">
        @await Html.PartialAsync("ToDoPartial")
    </div>
    <div class="app-tabs__panel" id="tasksDone" role="tabpanel" hidden>
        @await Html.PartialAsync("DonePartial")
    </div>
</div>

<button class="govuk-button app-tasks-button">Add a task</button>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        const tabButtons = document.querySelectorAll('[role="tab"]');
        const tabPanels = document.querySelectorAll('[role="tabpanel"]');

        tabButtons.forEach(button => button.addEventListener('click', handleTabClick));

        function handleTabClick(e) {
            e.preventDefault();
            tabPanels.forEach(function (panel) {
                panel.hidden = true;
            })
            tabButtons.forEach(tab => {
                tab.ariaSelected = false;
                tab.classList.remove('app-tabs__tab--selected')
            });
            this.setAttribute('aria-selected', true);
            this.classList.add('app-tabs__tab--selected')
            const { hash } = e.currentTarget;
            const panel = document.getElementById(hash.substring(1));
            panel.hidden = false;
        }
    });

</script>
