@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your tasks</h1>
<div class="app-tabs" data-module="app-tabs">
    <ul class="app-tabs__list">
        <li class="app-tabs__list-item app-tabs__list-item--selected">
            <a class="app-tabs__tab" href="#todo">
                To do
            </a>
        </li>
        <li class="app-tabs__list-item">
            <a class="app-tabs__tab" href="#done">
                Done
            </a>
        </li>
    </ul>
    <div class="app-tabs__panel" id="todo">
        <h2 class="govuk-heading-m">You have not added any tasks yet</h2>
        <p class="govuk-body-l">Use this area to organise your workload and gather evidence for your end-point
            assessment (EPA).
        </p>
        <ul class="app-icon-list app-icon-list--l">
            <li>
                <span class="app-icon-list__icon svg-placeholder"></span>
                <span>Add tasks you need to complete for your apprenticeship.</span>
            </li>
            <li>
                <span class="app-icon-list__icon svg-placeholder"></span>
                <span>
                    Set reminders for upcoming tasks.</span>
            </li>
            <li>
                <span class="app-icon-list__icon svg-placeholder"></span>
                <span>
                    Add notes and files to tasks to plan ahead or track evidence.</span>
            </li>
            <li>
                <span class="app-icon-list__icon svg-placeholder"></span>
                <span>
                    Link tasks to the knowledge, skills and behaviours (KSBS) they helped you gain.</span>
            </li>
        </ul>
    </div>
    <div class="app-tabs__panel" id="done" hidden>
        Done tab
    </div>
</div>

<partial name="_AddTasks.cshtml" />