<h2 class="govuk-heading-m govuk-!-margin-top-8">You have not added any tasks yet</h2>
<p class="govuk-body-l">Use this area to organise your workload and gather evidence for your end-point assessment (EPA).
</p>
<ul class="app-icon-list">
    <li>
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1.5 14C1.5 8.1075 1.5 5.16125 3.33 3.33C5.1625 1.5 8.1075 1.5 14 1.5C19.8925 1.5 22.8387 1.5 24.6687 3.33C26.5 5.1625 26.5 8.1075 26.5 14C26.5 19.8925 26.5 22.8387 24.6687 24.6687C22.84 26.5 19.8925 26.5 14 26.5C8.1075 26.5 5.16125 26.5 3.33 24.6687C1.5 22.84 1.5 19.8925 1.5 14Z"
                stroke="#00703C" stroke-width="3" />
            <path d="M6.5 18.75L7.92875 20.25L11.5 16.5M6.5 10L7.92875 11.5L11.5 7.75" stroke="#00703C" stroke-width="3"
                stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15.25 10.25H21.5M15.25 19H21.5" stroke="#00703C" stroke-width="3" stroke-linecap="round" />
        </svg>
        <span>Add tasks you need to complete for your apprenticeship.</span>
    </li>
    <li>
        <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.5 22.125H13C13 23.3625 11.9875 24.375 10.75 24.375C9.5125 24.375 8.5 23.3625 8.5 22.125ZM20.875 19.875V21H0.625V19.875L2.875 17.625V10.875C2.875 7.3875 5.125 4.35 8.5 3.3375V3C8.5 1.7625 9.5125 0.75 10.75 0.75C11.9875 0.75 13 1.7625 13 3V3.3375C16.375 4.35 18.625 7.3875 18.625 10.875V17.625L20.875 19.875ZM16.375 10.875C16.375 7.725 13.9 5.25 10.75 5.25C7.6 5.25 5.125 7.725 5.125 10.875V18.75H16.375V10.875Z"
                fill="#00703C" />
        </svg>
        <span>
            Set reminders for upcoming tasks.</span>
    </li>
    <li>
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21.0775 5.60875L23.1862 3.49875C23.6258 3.05915 24.2221 2.81219 24.8438 2.81219C25.4654 2.81219 26.0617 3.05915 26.5013 3.49875C26.9408 3.93835 27.1878 4.53457 27.1878 5.15625C27.1878 5.77793 26.9408 6.37415 26.5013 6.81375L8.54 24.775C7.87916 25.4355 7.06421 25.9209 6.16875 26.1875L2.8125 27.1875L3.8125 23.8313C4.0791 22.9358 4.56454 22.1208 5.225 21.46L21.0775 5.60875ZM21.0775 5.60875L24.375 8.90625"
                stroke="#00703C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>
            Add notes and files to tasks to plan ahead or track evidence.</span>
    </li>
    <li>
        <svg width="28" height="31" viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="Vector"
                d="M19.3571 29.7098V24.3527H23.6428C24.2111 24.3527 24.7562 24.1269 25.158 23.725C25.5599 23.3232 25.7857 22.7781 25.7857 22.2098V13.6384C25.7853 11.5438 25.2267 9.48717 24.1674 7.68019C23.1081 5.87321 21.5864 4.38118 19.7589 3.35769C17.9314 2.3342 15.8641 1.81623 13.7699 1.85711C11.6758 1.89799 9.63029 2.49623 7.84413 3.59026C6.05796 4.68429 4.59563 6.23457 3.60765 8.08151C2.61968 9.92845 2.14178 12.0053 2.22313 14.0983C2.30448 16.1913 2.94215 18.2248 4.0705 19.9895C5.19885 21.7542 6.77711 23.1863 8.64281 24.1384V29.7098"
                stroke="#00703C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            <path id="Vector_2"
                d="M10.7857 7.87839C9.37692 8.69213 8.2977 9.97367 7.73556 11.5004C7.17341 13.0271 7.16387 14.7025 7.70858 16.2355C7.96572 16.9534 8.73715 17.3134 9.47429 17.1184C13.1964 16.1327 16.985 13.4648 19.2886 11.3863C19.8993 10.8355 20.0236 9.91411 19.4814 9.29696C18.4181 8.09369 16.9714 7.2951 15.3866 7.03656C13.8018 6.77802 12.1763 7.07544 10.7857 7.87839Z"
                stroke="#00703C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>
            Link tasks to the knowledge, skills and behaviours (KSBS) they helped you gain.</span>
    </li>
</ul>
