<h2 class="govuk-heading-m govuk-!-margin-top-8">You have not added any tasks yet</h2>
<p class="govuk-body-l">Use this area to organise your workload and gather evidence for your end-point assessment (EPA).
</p>
<ul class="app-icon-list">
    <li>Add tasks you need to complete for your apprenticeship.</li>
    <li>Set reminders for upcoming tasks.</li>
    <li>Add notes and files to tasks to plan ahead or track evidence.</li>
    <li>Link tasks to the knowledge, skills and behaviours (KSBS) they helped you gain.</li>
</ul>
