@import "settings/all";

// GDS
$govuk-global-styles: true;
$govuk-new-typography-scale: false;
$govuk-brand-colour: $app-brand-colour;
$govuk-canvas-background-colour: $app-bg-colour;

@import "govuk/all";

// Apprentice App
@import "helpers/all";
@import "core/all";
@import "components/all";
@import "pages/all";
@import "utilities/all";

// Width overrides
@include govuk-media-query($from: desktop) {
  .app-fab--highlight,
  .app-navigation,
  .app-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .app-overlay {
    max-width: 1024px;
    left: 50%;
    transform: translateX(-50%);
  }
  .app-modal {
    margin-left: auto;
    transform: translateX(-50%);
    margin-top: 800px;
  }
}