@import "settings/all";

// GDS
$govuk-global-styles: true;
$govuk-new-typography-scale: false;
$govuk-brand-colour: $app-brand-colour;
$govuk-canvas-background-colour: $app-bg-colour;

@import "govuk/all";

// Apprentice App
@import "helpers/all";
@import "core/all";
@import "components/all";
@import "pages/all";
@import "utilities/all";

// Width overrides
@include govuk-media-query($from: desktop) {
  .app-fab--highlight,
  .app-navigation,
  .app-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  #add-edit-wrapper,
  .app-overlay {
    max-width: 1024px;
    left: 50%;
    transform: translateX(-50%);
  }
  .app-modal__content {
    max-width: 600px;
    margin: 0 auto;
  }
  .app-fab {
    right: auto;
  }
  .app-fab--highlight {
    right: 1.5rem;
  }
  .app-pages-welcome {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.app-banner {
  background: #d6e8d9;
  b {
    margin-right: .5rem;
    display: inline-block;
  }
}

.app-banner__inner {
  padding: .75rem 1rem;
  max-width: 1024px;
  margin: 0 auto;
}