@{
    ViewData["Title"] = "Accessibility statement ";
    ViewData["Section"] = "Account";
}

<div class="app-page-header">
    <div class="app-page-header__back"><a asp-action="YourAccount" asp-controller="Account"
            class="app-back-link">Back</a>
    </div>
    <h1 class="app-page-header__heading">Accessibility statement </h1>
    <div class="app-page-header__forward"></div>
</div>

<p>This accessibility statement explains how accessible Your Apprenticeship app is, what to do if you have difficulty
    using it, and how to report accessibility problems with the app. </p>
<p>This app is run by the Department for Education. We want as many people as possible to be able to use this app. For
    example, that means you should be able to: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>invert colours and adjust contrast levels</li>
    <li>increase the text size without the text truncating or overlapping</li>
    <li>navigate the app using Switch Access</li>
    <li>get around the app using Voice Access</li>
    <li>listen to the app using TalkBack</li>
    <li>We have also made the text in the app as simple as possible to understand</li>
    <li><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" target="_blank" rel="nofollow">AbilityNet (opens in
            a new tab)</a>
        has advice on
        making your device easier to use if you have a disability </li>
</ul>
<h2 class="govuk-heading-m">How accessible this app is </h2>
<p>We know some parts of this app are not fully accessible: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>Issue...</li>
</ul>
<h2 class="govuk-heading-m">Reporting accessibility problems with this app </h2>
<p>We're always looking to improve the accessibility of this app. If you find any problems not listed on this page or
    think we're not meeting accessibility requirements, contact: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>call 08000 150 600 </li>
    <li>email <a
            href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>
    </li>
</ul>
<p>Our opening times are Monday to Friday, 9am to 5pm. We will reply to emails within 4 hours during our opening times.
</p>
<h3 class="govuk-heading-s">If you are not happy with our response </h3>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and
    Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy
    with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/"
        target="_blank" rel="nofollow">Equality Advisory and Support Service (opens in a new
        tab)</a>. </p>

<h2 class="govuk-heading-m">Technical information about this app’s accessibility </h2>
<p>The Department for Education is committed to making its apps accessible, in accordance with the Public Sector Bodies
    (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>

<h2 class="govuk-heading-m">Compliance status </h2>
<p>This app is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard, due to
    the
    following non-compliances (and/or) the following exemptions.
</p>

<h3 class="govuk-heading-s">Non-accessible content</h3>
<p>The content is non-accessible for the following reason(s): </p>
<ul class="govuk-list govuk-list--bullet">
    <li>List...</li>
</ul>


<h2 class="govuk-heading-m">What we're doing to improve accessibility </h2>
<p>Content...</p>


<h2 class="govuk-heading-m">Preparation of this accessibility statement </h2>
<p>This statement was prepared on 4 March 2025. </p>