@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="govuk-heading-xl">Your profile</h1>
<h2 class="govuk-heading-l">Your details</h2>
<div class="app-pane">
    <dl class="app-content-list">
        <dt class="app-content-list__title">
            Name:
        </dt>
        <dd class="app-content-list__content">Jane Smith</dd>
        <dt class="app-content-list__title">
            Email address:
        </dt>
        <dd class="app-content-list__content">janesmith@email.com</dd>
        <dt class="app-content-list__title">
            Date of birth:
        </dt>
        <dd class="app-content-list__content">01/05/1995</dd>
    </dl>
</div>
<h2 class="govuk-heading-l">Your apprenticeship</h2>
<div class="app-pane">
    <dl class="app-content-list">
        <dt class="app-content-list__title">
            Current employer:
        </dt>
        <dd class="app-content-list__content">Fujitsu</dd>
        <dt class="app-content-list__title">
            Training provider:
        </dt>
        <dd class="app-content-list__content">Department for Education</dd>
        <dt class="app-content-list__title">
            Apprenticeship:
        </dt>
        <dd class="app-content-list__content">Interaction designer</dd>
        <dt class="app-content-list__title">
            Level:
        </dt>
        <dd class="app-content-list__content">Level 2</dd>
        <dt class="app-content-list__title">
            Planned training start date:
        </dt>
        <dd class="app-content-list__content">20/01/2024</dd>
    </dl>
</div>
<div class="govuk-button-group">
    <button class="govuk-button">Accept</button>
    <button class="govuk-button govuk-button--secondary">Decline</button>
</div>
<p>
    Torquent lorem cum, feugiat ridiculus mauris justo viverra. Dui a fermentum hendrerit ultricies eleifend sociosqu
    pretium. Ac vehicula lorem turpis. Lorem volutpat turpis gravida mus natoque! In ultricies varius bibendum cursus
    etiam habitasse sollicitudin dolor per conubia. Euismod eget pellentesque elit sociosqu arcu? Sociis accumsan class
    nec quis duis mus!
</p>
<p>
    Neque neque aliquam ac cursus primis eu metus enim in augue. Potenti nullam pulvinar eget bibendum dolor felis.
    Ultrices curabitur proin, taciti varius inceptos egestas. Morbi pellentesque ultrices faucibus eget habitant lacinia
    dignissim iaculis pulvinar tempus pulvinar. Fringilla praesent maecenas nascetur scelerisque natoque conubia ornare
    vestibulum! Congue nibh venenatis dis pharetra bibendum velit scelerisque porttitor natoque. Ridiculus maecenas
    aenean convallis natoque sapien hendrerit sociosqu dictumst venenatis aliquam. A tristique tincidunt at nunc dictum
    vestibulum accumsan inceptos neque? Convallis pellentesque aptent neque turpis nibh ornare dui. Diam vehicula
    himenaeos quisque? Potenti lorem cras litora euismod ultrices primis at natoque purus. Condimentum neque suspendisse
    viverra. Velit malesuada vulputate torquent turpis nisl sapien quam, curae; felis ultricies. Sagittis maecenas
    posuere, vel volutpat. Dictumst.
</p>
<p>
    Phasellus accumsan arcu litora elit iaculis eros curae; gravida in pharetra dapibus scelerisque. Porttitor habitasse
    hac nunc? Taciti mauris mollis cubilia luctus eleifend dictum maecenas est purus ad! Lacus tellus eget natoque nulla
    turpis lacinia auctor adipiscing nisi taciti metus est. Dignissim dui aliquam quis habitasse torquent venenatis nisl
    ultrices aliquet viverra. Fusce netus netus, adipiscing massa in phasellus! Placerat cubilia morbi vulputate blandit
    tellus! Natoque lectus rutrum curae; vestibulum etiam nec sodales nibh magna ligula dignissim? Praesent posuere
    iaculis himenaeos luctus platea accumsan suspendisse taciti faucibus magnis netus. Inceptos mi platea, taciti
    maecenas platea mattis quam lorem mus luctus libero a. Tellus sociosqu magna ultrices lectus. Proin nisl luctus
    sociosqu convallis vel mollis. Platea nisi primis posuere. Id congue blandit lectus auctor dolor. Condimentum dictum
    urna sapien dapibus sociosqu fames facilisis. Nascetur mauris ad ac.
</p>
<p>
    Ligula facilisis interdum tortor habitasse nec condimentum nulla dictumst non ultrices at! Vel aliquet primis
    pellentesque sit, ante fames hac. Arcu magnis viverra duis. Curabitur habitant inceptos justo imperdiet habitasse
    risus, gravida tempor. Ultrices arcu tincidunt dis eu duis. Montes pellentesque dis vitae, iaculis vehicula facilisi
    integer. Nascetur commodo dis nisl ac nisl ultricies fames dictum ipsum. Venenatis adipiscing dolor potenti
    imperdiet fringilla platea sociis malesuada sociosqu auctor penatibus. Leo.
</p>
<p>
    Nullam lectus nam dignissim gravida. Vehicula vitae leo blandit? Lacinia dolor massa erat velit sapien nostra
    sociosqu consectetur tempor amet phasellus. In taciti at ridiculus euismod tincidunt hendrerit ad turpis primis.
    Sollicitudin malesuada fusce ipsum cras. Vestibulum augue tortor lobortis tempor at bibendum netus netus facilisis
    elit mattis. Ad, nisi praesent urna elementum placerat inceptos inceptos! Justo pulvinar aenean urna laoreet
    suscipit nisl. Etiam congue nibh fusce etiam. Cursus, massa aptent.
</p>
