@{
    ViewData["Title"] = "Terms";
}

<h1>Terms</h1>

<p>Terms Terms Terms Terms Terms</p>

<p>
    <input type="submit" value="Decline" id="Decline" class="btn btn-default" onclick="location.href='@Url.Action("TermsDecline", "Home")'" />
</p>

<p>
    <input type="submit" value="Accept" id="Accept" class="btn btn-default" onclick="location.href='@Url.Action("TermsAccept", "Home")'" />
</p>