.app-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: $app-bg-colour;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  animation: slideUp ease 200ms;
}

.app-overlay__content {
  padding: $app-gap;
  overflow: auto;
  height: calc(100dvh - 70px);
}

.app-template__body--overlay-open {
  overflow: hidden;
  padding-right: 0px;
  .app-overlay.app-overlay--visible {
    display: flex;
    top: 1rem;
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
  }
  100% {
    top: 1rem;
  }
}
