@{
    ViewData["Title"] = "Terms";
}

<h1 class="govuk-heading-xl">Terms & conditions</h1>

<p>
    Torquent lorem cum, feugiat ridiculus mauris justo viverra. Dui a fermentum hendrerit ultricies eleifend sociosqu
    pretium. Ac vehicula lorem turpis. Lorem volutpat turpis gravida mus natoque! In ultricies varius bibendum cursus
    etiam habitasse sollicitudin dolor per conubia. Euismod eget pellentesque elit sociosqu arcu? Sociis accumsan class
    nec quis duis mus!
</p>
<p>
    Torquent lorem cum, feugiat ridiculus mauris justo viverra. Dui a fermentum hendrerit ultricies eleifend sociosqu
    pretium. Ac vehicula lorem turpis. Lorem volutpat turpis gravida mus natoque! In ultricies varius bibendum cursus
    etiam habitasse sollicitudin dolor per conubia. Euismod eget pellentesque elit sociosqu arcu? Sociis accumsan class
    nec quis duis mus!
</p>

<div class="govuk-button-group">
    <button class="govuk-button" onclick="location.href='@Url.Action("TermsAccept", "Terms")'">Accept</button>
    <button class="govuk-button govuk-button--secondary" onclick="location.href='@Url.Action("TermsDecline", "Terms")'">Decline</button>
</div>