@{
    ViewData["Title"] = "Terms";
    Layout = "_LayoutBasic";
}
<div class="app-main app-main--terms">
    <div class="app-main__inner">
        <div class="app-page-header govuk-!-margin-bottom-8">
            <h1 class="app-page-header">Accept the terms and conditions</h1>
        </div>
        <h2 class="govuk-heading-m">
            To use this service
        </h2>
        <p class="govuk-body">
            you must be:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>a minimum of 15 years old</li>
            <li>on an apprenticeship</li>
        </ul>
        <h2 class="govuk-heading-m">
            By using this service
        </h2>
        <p class="govuk-body">
            you must agree to:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>use a legitimate email address that only you have access to</li>
            <li>keep your log in details secure and not share them with anyone</li>
            <li>provide true and accurate information</li>
            <li>not allow anyone to confirm any data on your behalf</li>
            <li>not submit data on anyone else’s behalf</li>
            <li>sign out at the end of each session</li>
            <li>
                adhere to the <a href="https://www.legislation.gov.uk/ukpga/1990/18/contents">
                    Computer Misuse Act
                    1990
                </a>
            </li>
            <li>notify us of a change to your email address</li>
            <li>be contacted by email to give feedback on your training provider</li>
        </ul>

        <h2 class="govuk-heading-m">Responsibility for the service</h2>
        <p>
            This service is run by the Department for Education. We do our best to make sure this service:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>is constantly available</li>
            <li>is virus free</li>
            <li>alerts users to any changes to terms of use and updates to the service</li>
        </ul>

        <p>The Department for Education accepts no liability for:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                you being unable to access the service (for example, because of excessive demand or because we've taken
                the service down for maintenance)
            </li>
            <li>delay or failure in receiving data</li>
            <li>indirect damages arising from you using the service or relying on its content</li>
            <li>
                the content and availability of external websites that link to the service or which are linked from it
            </li>
        </ul>


        <h2 class="govuk-heading-m">Cookies</h2>
        <p>Cookies are files saved on your phone, tablet or computer when you visit an app or website. We use cookies to store information about how you use this app, such as the pages you visit.</p>
        <p>We use Google Analytics and Microsoft Clarity to measure how you use the app so we can improve it based on user needs. We do not allow Google or Microsoft to use or share the data about how you use this app.</p>
        <p>Google Analytics and Microsoft Clarity set cookies that store anonymised information about:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>how you got to the app</li>
            <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
            <li>what you click on while you're visiting the app</li>
        </ul>

    </div>
</div>
<div class="app-button-group__wrap app-button-group__wrap--terms">
    <form method="get" action="@Url.Action("TermsAccept", "Terms")" id="terms-form">
        <div class="govuk-checkboxes govuk-checkboxes--medium govuk-input__wrapper" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accept" name="accept" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label govuk-label--terms" for="accept">
                  I accept the terms and conditions and consent to the use of cookies in this app.
                </label>
              </div>
          </div>
        <button class="app-button" disabled>Continue</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const acceptCheckbox = document.getElementById('accept');
        const continueButton = document.querySelector('.app-button');
        acceptCheckbox.addEventListener('change', function () {
            continueButton.disabled = !acceptCheckbox.checked;
        });
    });
</script>