@use "govuk/settings/index" as settings;

.app-back-link {
  &, &:link, &:visited {
    color: settings.$govuk-link-colour;
  }
  &:focus {
    color: #000
  }
  font-size: 1rem;
  align-self: start;
  &:before, &:after {
    border-color: currentColor;
  }
}