@use "govuk/settings/index" as settings;
@use "govuk/helpers/index" as helpers;

.app-header {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.app-header__logo {
  img {
    height: 30px;
  }
}

.app-header__link {
  color: #fff;
  font-weight: settings.$govuk-font-weight-bold;
  text-decoration: none;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #000;
  }
  &:active {
    color: #000;
  }

}