@use "govuk/index";

.app-tag {
  @extend .govuk-tag;
  padding: .5rem;
  display: inline-block;
}

.app-tag--status-notstarted {
  @extend .govuk-tag--grey;
}

.app-tag--status-completed {
  @extend .govuk-tag--green;
}

.app-tag--status-readyforreview {
  @extend .govuk-tag--red;
}

.app-tag-group {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  .app-tag {
    font-size: 14px;
    white-space: nowrap;
  }
}
