.app-text-size {
  display: flex;
  align-items: center;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
}

.app-text-size__btn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border: none;
  background: none;
  color: #1a65a6;
  &:hover {
    background: #f3f2f1;
  }
  &:focus {
    color: #000;
    outline: 3px solid #ffdd00;
  }
  &:active {
    color: #000;
  }
}

.app-text-size__icon {
  font-size: 3rem;
}

.app-text-size__label {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
}