@use "govuk/settings/index" as settings;

settings.$govuk-font-family: Arial, Helvetica, sans-serif;
settings.$govuk-global-styles: true;
settings.$govuk-new-link-styles: true;

@use "govuk/index";
@use "core/layout";
@use "components";

body {
  background-color: orange !important;
}
