@use "govuk/settings/index";

$govuk-font-family: Arial, Helvetica, sans-serif;
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@use "govuk/index" as govuk;
@use "core/layout";
@use "components";