@using SFA.DAS.ApprenticeApp.Pwa.ViewModels
<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
    Layout = "_Layout";
}


@model IEnumerable<NotificationViewModel>

<div class="notifications-container">
    <h2>Notifications</h2>
    @foreach (var notification in Model)
    {
        <div class="notification-card @if(notification.IsNew) {
    <text>bg-light-green</text>
 }">
            <h5>
                <a href="@notification.LinkUrl" class="text-success">@notification.Title</a>
            </h5>
            <p>@notification.Description</p>
            <small class="text-muted">@notification.TimeAgo</small>
            <button class="btn btn-link text-danger delete-button">Delete</button>
        </div>
    }
</div>
