@model SFA.DAS.ApprenticeApp.Domain.Models.ApprenticeTaskReminder
@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
}


<h1 class="govuk-heading-xl">Are you sure you want to delete this notification?</h1>
