@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
    ViewBag.HideNavigation = true;
}


<h1 class="govuk-heading-xl">Are you sure you want to delete this notification?</h1>
