@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Notifications</h1>
<h2 class="govuk-heading-l">You have not received any notifications yet</h2>
<div class="govuk-body">
    <p>If you set a reminder for a task in the ‘Your tasks’ tab, the notification will appear here. You will also recieve useful guidance about your apprenticeship.</p>
    <p>To receive notifications directly to your device, you must turn on push notifications in your settings.</p>
</div>
