﻿@using SFA.DAS.ApprenticeApp.Pwa.ViewModels
@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Notifications</h1>
@model NotificationPageModel

<div id="notification_content">
@if(Model.TaskReminders == null || Model.TaskReminders.Count == 0)
{
    @await Html.PartialAsync("_NoNotifications")
}
else
{
    @await Html.PartialAsync("_Notifications", Model)
}
</div>
@await Html.PartialAsync("_NotificationsJs.cshtml")