@using SFA.DAS.ApprenticeApp.Pwa.Configuration
@using SFA.DAS.ApprenticeApp.Web.Extensions

@inject ApplicationConfiguration applicationConfiguration
@using SFA.DAS.ApprenticeApp.Pwa.ViewModels
@{
    ViewData["Title"] = "Notifications";
    ViewData["Section"] = "Notifications";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Notifications</h1>
@model NotificationPageModel

<div id="notification_content">
    @if(Model.TaskReminders == null || Model.TaskReminders.Count == 0)
    {
        @await Html.PartialAsync("_NoNotifications")
    }
    else
    {
        @await Html.PartialAsync("_Notifications", Model)
    }
</div>


<!-- HTML for the popup box -->
<div class="app-modal enable-notifications">
    <div class="app-modal__content">
        <h2 class="govuk-heading-m">Please turn on push notifications</h2>
        <p class="govuk-body">
            These could include reminders you set in the app and useful guidance about your
            apprenticeship.
        </p>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" onclick="requestNotificationPermission()">Continue</button>
        </div>
    </div>
</div>
<script>
    var publicKey = @Html.Raw(Json.Serialize(@applicationConfiguration.PushNotificationPublicKey));
    window.pushNotificationKey = publicKey;
</script>

@await Html.PartialAsync("../Shared/_PushNotificationsJs.cshtml")
@await Html.PartialAsync("_NotificationsJs.cshtml")