.app-fieldset {
  @extend .govuk-fieldset;
}

.app-fieldset--radios {
  padding: $app-gap;
  background: #fff;
  border-radius: $app-border-radius-inputs;
  border: 1px solid #f7f7f7;
}

.govuk-fieldset__legend {
  font-weight: $govuk-font-weight-bold;
}

.app-fieldset__legend {
  @extend .govuk-fieldset__legend;
  font-weight: $govuk-font-weight-bold;
}

.app-fieldset__legend--s {
  font-weight: $govuk-font-weight-bold;
  margin-bottom: $app-gap;
}
