.app-input {
  @extend .govuk-input;
  background-color: #fff;
  padding: $app-gap;
  border-radius: $app-border-radius-inputs;
  border: 1px solid #949494;
  height: auto;
  min-height: 3.4rem;
  display: block;
  text-align: left;
  color: $govuk-text-colour;

  &:focus {
    @include app-focused;
  }

  &.govuk-js-character-count {
    margin-bottom: 5px;
  }

  &.app-input--error,
  &.govuk-textarea--error {
    border-color: $govuk-error-colour;
  }

  &.app-input--error {
    border-color: $govuk-error-colour;
    border-width: 2px;
  }
}
