.app-input {
  @extend .govuk-input;
  background-color: #fff;
  line-height: 1;
  padding: $app-gap;
  border-radius: $app-border-radius-inputs;
  border: 1px solid #f7f7f7;
  height: auto;
  &:focus {
    @include app-focused;
  }
}
