@{
    Layout = null;
}

<div class="app-overlay-header">
    <div class="app-overlay-header__cancel">
        <a class="app-overlay-header__link ksb-popup-cancel">Close</a>
    </div>
    <h2 class="app-overlay-header__heading">
        Your course version needs updating to show your KSBs
    </h2>
    <div class="app-overlay-header__save">
        <a class="app-overlay-header__link"></a>
    </div>
</div>

<div class="app-overlay__content">
    @await Html.PartialAsync("_NoKsbsError.cshtml")
</div>