@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.ApprenticeKsbsPageModel

<div class="app-page-header">
    <div class="app-overlay-header__cancel">
        <a class="app-overlay-header__link">Cancel</a>
    </div>
    <h2 class="app-overlay-header__heading">
       Link to knowledge, skills and behaviours (KSBs)
    </h2>
    <div class="app-overlay-header__save">
        <a class="app-overlay-header__link link-ksb">Confirm</a>
    </div>
</div>

@foreach (var ksb in Model.Ksbs)
{
    <div>
        <h2 class="app-card__heading">@ksb.Key</h2>
        <div class="govuk-body">@ksb.Detail</div>
        <input class="app-checkboxes__input" #linkKsb />Link this KSB to the task
        <span>
            Edit status
        </span>
        <div class="app-tag">@ksb.Status</div>
        <hr class="app-separator" />
    </div>
}