<p class="govuk-body">
    We are unable to show the KSBs for this apprenticeship. This could be because the  version of your apprenticeship standard has changed since you started it. For example, the name of the apprenticeship standard may have changed, or content may have been updated.
</p>
<p class="govuk-body">
    You can still use the app to:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Add and edit tasks</li>
    <li>Set reminders</li>
    <li>View reminder notifications</li>
    <li>View your apprenticeship details</li>
    <li>Access resources for support and guidance</li>
</ul>
