<p class="govuk-body">
    We are currently unable to show your KSBs.
</p>
<p class="govuk-body">
    You cannot link tasks to your KSBs.
</p>
<p class="govuk-body">
    We are investigating this issue and working to fix it.
</p>
<p class="govuk-body">
    You can still use the app to:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Add and edit tasks</li>
    <li>Set reminders</li>
    <li>Access resources for support and guidance</li>
    <li>View reminder notifications</li>
    <li>View your apprenticeship details</li>
</ul>
