<p class="govuk-body">
    There are no KSBs found for your course.
    This could be:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>reason 1</li>
    <li>reason 2</li>
</ul>
<p class="govuk-body">
    Content to follow.
</p>
<p class="govuk-body">
    If you need more help, you can call 08000 150 600 or email
    <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk"
       class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a>. Our opening times are Monday to
    Friday, 8am to 8pm. We will reply to emails within 4 hours during our opening times.
</p>
<p class="govuk-body">
    You can also visit <a href="https://www.apprenticeships.gov.uk"
                          class="govuk-link govuk-link--no-visited-state" target="_blank">apprenticeships.gov.uk</a> for guidance
    about your apprenticeship.
</p>