@{
    ViewData["Title"] = "Your knowledge, skills and behaviours (KSBs)";
    ViewData["Section"] = "Ksbs";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your knowledge, skills and behaviours (KSBs)</h1>

<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab tab-knowledge" href="#knowledge">
                    Knowledge (@Model.KnowledgeCount.ToString())
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab tab-skills" href="#skill">
                    Skills (@Model.SkillCount.ToString())
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab tab-behaviours" href="#behaviour">
                    Behaviours (@Model.BehaviourCount.ToString())
                </a>
            </li>
        </ul>
    </div>
    <div class="app-page-header">
        <details class="govuk-details govuk-!-margin-top-2">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with linking KSBs
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>As part of your apprenticeship, you need to gain specific knowledge, skills and behaviours (KSBs).
                    These
                    are taught in your off-the-job (OTJ) training, and you will be tested on them in your end-point
                    assessment (EPA). Linking these KSBs to your completed tasks will help you gather evidence. </p>
                <p>Which of these KSBs will the task help you gain? Select all that apply.</p>
            </div>
        </details>
        <a href="#filter" data-module="app-overlay" class="app-icon-action">
            <span class="app-icon-action__icon">
                <svg>
                    <use xlink:href="/assets/images/icons.svg#filter">
                    </use>
                </svg>
            </span>
            <span class="app-icon-action__label">Filters</span>
        </a>

    </div>
    <partial name="_KsbsAll.cshtml" />
</div>

@await Html.PartialAsync("_KsbJs.cshtml")