@{
    ViewData["Title"] = "KSB";
    ViewData["Section"] = "KSB";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your knowledge, skills and behaviours (KSBs)</h1>

<div class="app-tabs" data-module="app-tabs">
    <div class="app-page-header app-sticky">
        <ul class="app-tabs__list">
            <li class="app-tabs__list-item app-tabs__list-item--selected">
                <a class="app-tabs__tab" href="#knowledge">
                    Knowledge (@Model.KnowledgeCount.ToString())
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab" href="#skills">
                    Skills (@Model.SkillCount.ToString())
                </a>
            </li>
            <li class="app-tabs__list-item">
                <a class="app-tabs__tab" href="#behaviours">
                    Behaviours (@Model.BehaviourCount.ToString())
                </a>
            </li>
        </ul>
        </div>
        <div class="app-tabs__panel">
        <partial name="_KsbsAll.cshtml" />
    </div>
</div>
