@{
    ViewData["Title"] = "Your knowledge, skills and behaviours (KSBs)";
    ViewData["Section"] = "Ksbs";
    Layout = "_Layout";
}

<div class="app-main">
    <div class="app-main__inner">
        <div class="app-page-header govuk-!-margin-bottom-8">
            <div class="app-page-header__back"></div>
            <h1 class="app-page-header__heading">Your course version needs updating to show your KSBs</h1>
            <div class="app-page-header__forward"></div>
        </div>
        @await Html.PartialAsync("_NoKsbsError.cshtml")
    </div>
</div>