@{
    ViewData["Title"] = "Your knowledge, skills and behaviours (KSBs)";
    ViewData["Section"] = "Ksbs";
    Layout = "_Layout";
}

 <h1 class="govuk-heading-xl">Your course version needs updating to show your KSBs</h1>

 @await Html.PartialAsync("_NoKsbsError.cshtml")
