.app-welcome-header {
  background-image: url("/assets/images/homepage-background.jpg");
  background-size: cover;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.app-welcome-header__heading {
  color: #fff;
  margin: 80px 0 30px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
}

.app-welcome-footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
