.app-stack {
  @extend .govuk-list;
  margin-bottom: 0;
}

.app-stack > li.app-stack__list-item {
  margin-bottom: $app-gap;

  &:last-child {
    margin-bottom: 0;
  }
}

.app-stack__link {
  @include govuk-link-style-text;
  @include govuk-font-size(24);
  border-radius: $app-border-radius;
  padding: 1rem 2rem 1rem 1rem;
  display: block;
  background: #fff;
  text-decoration: none;
  font-weight: $govuk-font-weight-bold;
  position: relative;

  span {
    @include govuk-link-style-text;
    @include govuk-font-size(24);
    font-family: inherit;
    font-weight: $govuk-font-weight-bold;
  }

  &:after {
    @include app-arrow;
  }

  &:focus {
    &:after {
      border-color: $govuk-text-colour;
    }
  }
}
